config MACH_LGE
	bool

menu "LGE Board Selection"

config MACH_DORY
	depends on ARCH_MSM8226
	select MACH_LGE
	bool "APQ8026 DORY"
	help
	  Support for the LGE APQ8026 DORY.

config LGE_BLUETOOTH
	bool "Support LGE Bluetooth"
	depends on BT
	help
	  Support for the LGE Bluetooth
endmenu
