config SENSORS
	bool "Sensors Class Support"
	help
	  This option enables the sensor sysfs class in /sys/class/sensors.
	  You'll need this to do anything useful with sensorss. If unsure, say N.

config SENSORS_SSC
	bool "Enable Sensors Driver Support for SSC"
	help
	  Add support for sensors SSC driver.
	  This driver is used for exercising sensors use case,
	  time syncing with ADSP clock.

config SENSORS_BMD101
	bool "BMD101 sensor support"
	default n
	help
	  ECG BMD101 sensor support

config SENSORS_LIS3DSH
    tristate "ST LIS3DSH acceleration sensor support"
    depends on I2C=y
    help
		If you say yes here you get support for STMicroelectronics's
		acceleration sensors LIS3DSH.

source "drivers/sensors/pni/Kconfig"
