comment "Qualcomm Atheros Prima WLAN module"
config PRIMA_WLAN
	tristate "Qualcomm Atheros Prima WLAN module"
	default n
	help
	Add support for the Qualcomm Atheros Prima WLAN module

#	depends on WLAN
#	depends on CFG80211
#        depends on WCNSS_CORE

if PRIMA_WLAN != n

config PRIMA_WLAN_BTAMP
	bool "Enable the Prima WLAN BT-AMP feature"
	default n

config PRIMA_WLAN_LFR
	bool "Enable the Prima WLAN Legacy Fast Roaming feature"
	default n

config PRIMA_WLAN_OKC
	bool "Enable the Prima WLAN Opportunistic Key Caching feature"
	default n

endif # PRIMA_WLAN
