#
# Himax Touchscreen driver configuration
#

config TOUCHSCREEN_HIMAX_COMMON
        tristate "HIMAX chipset i2c touchscreen"
        depends on TOUCHSCREEN_HIMAX_CHIPSET_SPI
        help
        This enables support for HIMAX CHIPSET over I2C based touchscreens.


# ***************** In-cell Start *****************
config TOUCHSCREEN_HIMAX_INCELL
        tristate "HIMAX chipset in-cell function"
        depends on TOUCHSCREEN_HIMAX_COMMON
        help
        This enables support for HIMAX CHIPSET of in-cell function.


config TOUCHSCREEN_HIMAX_IC_HX83112
        tristate "HIMAX chipset HX83112 function"
        depends on TOUCHSCREEN_HIMAX_INCELL
        help
        This enables support for HIMAX CHIPSET of HX83112.

config TOUCHSCREEN_HIMAX_DEBUG
        tristate "HIMAX debug function"
        depends on TOUCHSCREEN_HIMAX_COMMON
        help
        This enables support for HIMAX debug function.

config TOUCHSCREEN_HIMAX_INSPECT
        tristate "HIMAX inspect function"
        depends on TOUCHSCREEN_HIMAX_COMMON
        help
        This enables support for HIMAX debug function.

config HMX_DB
    tristate "HIMAX driver test over Dragon Board"
    depends on TOUCHSCREEN_HIMAX_COMMON
    help
      This enables support for HIMAX driver test over Dragon Board.
