ARCH=arm
BRANCH=mnc-dr-dev-qcom-lego
CROSS_COMPILE=arm-linux-androideabi-
DEFCONFIG=msm8952-perf_defconfig
KCFLAGS=-mno-android
EXTRA_CMDS=''
KERNEL_DIR=private/msm8952/msm-3.10
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/bin
FILES="
arch/arm/boot/zImage-dtb
System.map
vmlinux
"
IN_KERNEL_MODULES=n
OUT_KERNEL_DIR=device/qcom/msm8952/shamrock-kernel
