ARCH=arm
BRANCH=android-msm-sturgeon-3.10
CROSS_COMPILE=arm-linux-androidkernel-
DEFCONFIG=sturgeon_defconfig
EXTRA_CMDS=''
KERNEL_DIR=private/msm-huawei-cw
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/bin
FILES="
arch/arm/boot/zImage-dtb
vmlinux
System.map
"

