ARCH=arm64
BRANCH=android-msm-bullhead-3.10
CROSS_COMPILE=aarch64-linux-android-
DEFCONFIG=bullhead_defconfig
EXTRA_CMDS=''
KERNEL_DIR=private/msm-lge
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/bin
FILES="
arch/arm64/boot/Image.gz-dtb
vmlinux
System.map
"
