/* Copyright (c) 2012, Code Aurora Forum. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/


&soc {
	i2c@f9923000 {
		cell-index = <84>;
		compatible = "qcom,i2c-qup";
		reg = <0xf9923000 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg-names = "qup_phys_addr";
		interrupts = <0 95 0>;
		interrupt-names = "qup_err_intr";
		qcom,i2c-bus-freq = <100000>;
		qcom,i2c-src-freq = <50000000>;

		max17048@36 {
			compatible = "maxim,max17048";
			status = "disabled";
			interrupt-parent = <&msmgpio>;
			interrupts = <9 0x0>;
			reg = <0x36>;
			max17048,alert_gpio = <&msmgpio 9 0x00>;
			max17048,rcomp = <77>;
			max17048,alert_threshold = <2>;
			max17048,max-mvolt = <4350>;
			max17048,min-mvolt = <3200>;
			max17048,full-soc = <950>;
			max17048,empty-soc = <15>;
			max17048,batt-tech = <2>;
			max17048,fcc-mah = <2300>;
		};

		smb349@2d {
			compatible = "summit,smb349-charger";
			reg = <0x2d>; /* 0x5A/0x5B */
			status = "disabled";
			interrupt-parent = <&pm8941_gpios>;
			interrupts = <30 0x2>;
			summit,stat-gpio = <&pm8941_gpios 30 0x02>;
			summit,chg-current-ma = <1200>;
			summit,term-current-ma = <100>;
			summit,otg-en-gpio = <&pm8941_gpios 35 0x2>;
			summit,wlc-support;
			summit,ext-ovp-otg-ctrl;
		};

		bq24192@6b {
			compatible = "ti,bq24192-charger";
			status = "disabled";
			reg = <0x6b>;
			interrupt-parent = <&pm8941_gpios>;
			interrupts = <22 0x2>;
			ti,int-gpio = <&pm8941_gpios 22 0x02>;
			ti,chg-current-ma = <1600>;
			ti,term-current-ma = <128>;
			ti,vbat-max-mv = <4352>;
			ti,pre-chg-current-ma = <256>;
			ti,sys-vimin-mv = <3500>;
			ti,vin-limit-mv = <4760>;
			ti,step-dwn-current-ma = <1024>;
			ti,step-dwn-thr-mv = <4250>;
			ti,wlc-support;
			ti,otg-en-gpio = <&pm8941_gpios 35 0x02>;
			ti,ext-ovp-otg-ctrl;
		};
	};

	bq51013b_wlc {
		compatible = "ti,bq51013b";
		status = "ok";
		interrupt-parent = <&pm8941_gpios>;
		interrupts = <34 0x3>;
		ti,chg-ctrl-gpio = <&pm8941_gpios 23 0x0>;
		ti,wlc-int-gpio = <&pm8941_gpios 34 0x2>;
		ti,chg-current-ma = <768>;
	};
};

&spmi_bus {
	qcom,pm8941@0 {
		iadc@3600 {
			chan@1 {
				label = "external_rsense";
				reg = <1>;
				qcom,rsense = <10000000>;
				qcom,decimation = <0>;
				qcom,pre-div-channel-scaling = <1>;
				qcom,calibration-type = "absolute";
				qcom,scale-function = <0>;
				qcom,hw-settle-time = <0>;
				qcom,fast-avg-setup = <0>;
			};
		};

		vadc@3100 {
			chan@15 {
				label="earmic_adc";
				reg = <0x15>;
				qcom,decimation = <0>;
				qcom,pre-div-channel-scaling = <0>;
				qcom,calibration-type = "absolute";
				qcom,scale-function = <0>;
				qcom,hw-settle-time = <0>;
				qcom,fast-avg-setup = <0>;
			};
		};

		qcom,vadc@3400 {
			usb-id-ext-pull-up;
			chan@b9 {
				label = "usb_id_nopull";
				reg = <0x39>;
			};
		};
	};
};
