/* Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

qcom,ke40-atl {
	serialnum = "SB18C43804";
	qcom,max-voltage-uv = <4400000>;
	qcom,fg-cc-cv-threshold-mv = <4390>;
	qcom,nom-batt-capacity-mah = <3000>;
	qcom,chg-term-ua = <100000>;
	qcom,batt-id-kohm = <100>;
	qcom,battery-beta = <3440>;
	qcom,battery-type = "KE40_ATL_2820mAh_4v4";
	qcom,thermal-coefficients = [C5 86 BE 50 D1 37];
	qcom,chg-rslow-comp-c1 = <2366607>;
	qcom,chg-rslow-comp-c2 = <2419896>;
	qcom,chg-rs-to-rslow = <649245>;
	qcom,chg-rslow-comp-thr = <0x99>;
	qcom,checksum = <0x301A>;
	qcom,gui-version = "PMI8950GUI - 2.0.0.16";
	qcom,fg-profile-data = [
		 0F 88 89 7E
		 F9 81 28 7C
		 3F 83 88 72
		 92 7E 81 7B
		 04 82 5F 9B
		 F9 BE 7F D0
		 87 10 04 88
		 BB 7D 7F 81
		 CB 77 2E 83
		 31 7A 30 8C
		 69 88 1A 82
		 54 A0 52 C5
		 85 D8 6E 0C
		 CC 0B 39 60
		 14 70 29 FC
		 1F 3C 96 3C
		 21 31 00 00
		 88 45 FC 40
		 A6 3B 00 00
		 00 00 00 00
		 00 00 00 00
		 E6 69 E1 68
		 6B 71 FE 83
		 3F 6F 48 63
		 58 68 B7 80
		 D9 6E 81 68
		 98 6D F6 A3
		 18 39 62 B6
		 64 A0 71 0C
		 28 00 FF 36
		 F0 11 30 03
		 00 00 00 0C
	];
};
