/* Copyright (c) 2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
/plugin/;

#include "sdm710-olson-common-overlay.dtsi"

/ {
	model = "Monmouth";
	compatible = "qcom,sdm670-monmouth", "qcom,sdm670-moto", "qcom,sdm670";
	qcom,msm-id = <360 0x0>;
	qcom,board-id = <0 0xA000>;
};

&tlmm {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

/*
 * Monmouth HW rev EVT1 specific changes go here
 */
&soc {
	vio_disp_sub_evt1_vreg: vio_disp_sub_evt1_vreg {
		compatible = "regulator-fixed";
		regulator-name = "vio_disp_sub";
		vin-supply = <&pm660_l13>;
		gpio = <&tlmm 100 0>;
		startup-delay-us = <300>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&disp_sub_dvdd_en_default>;
	};

	gpio_keys {
		status = "disable";
	};

	dsi_smd_601_1080p_cmd_s_display: qcom,dsi-display@20 {
		compatible = "qcom,dsi-display";
		label = "dsi_smd_601_1080p_cmd_s_display";
		qcom,display-type = "secondary";

		qcom,dsi-ctrl = <&mdss_dsi1>;
		qcom,dsi-phy = <&mdss_dsi_phy1>;
		clocks = <&mdss_dsi1_pll BYTECLK_MUX_1_CLK>,
			<&mdss_dsi1_pll PCLK_MUX_1_CLK>;
		clock-names = "mux_byte_clk", "mux_pixel_clk";

		pinctrl-names = "panel_active", "panel_suspend";
		pinctrl-0 = <&sde_dsi1_active &sde_te_active>;
		pinctrl-1 = <&sde_dsi1_suspend &sde_te_suspend>;
		qcom,platform-te-gpio = <&tlmm 11 0>;
		qcom,dsi-panel = <&mot_smd_601_1080p_cmd_s_v0>;

		vci_disp-supply = <&pm660l_l3>;
		vio_disp-supply = <&vio_disp_sub_evt1_vreg>;
	};
};

&flip_detection {
	status = "disabled";
};

&pm660l_l3 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	qcom,init-voltage = <3300000>;
};

&dsi_smd_601_1080p_cmd_display {
	vci_disp-supply = <&pm660l_l6>;
	vio_disp-supply = <&pm660_l11>;
};

&mot_smd_601_1080p_cmd_v0 {
	/delete-node/ qcom,panel-supply-entries;

	qcom,panel-supply-entries {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,panel-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "vio_disp";
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-enable-load = <300000>;
			qcom,supply-disable-load = <100>;
			qcom,supply-pre-on-sleep = <0>;
			qcom,supply-post-on-sleep = <2>;
			qcom,supply-pre-off-sleep = <0>;
			qcom,supply-post-off-sleep = <0>;
		};

		qcom,panel-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "vci_disp";
			qcom,supply-min-voltage = <3300000>;
			qcom,supply-max-voltage = <3300000>;
			qcom,supply-enable-load = <300000>;
			qcom,supply-disable-load = <100>;
			qcom,supply-pre-on-sleep = <0>;
			qcom,supply-post-on-sleep = <2>;
			qcom,supply-pre-off-sleep = <11>;
			qcom,supply-post-off-sleep = <0>;
		};

		qcom,panel-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "lab";
			qcom,supply-min-voltage = <4600000>;
			qcom,supply-max-voltage = <6100000>;
			qcom,supply-enable-load = <100000>;
			qcom,supply-disable-load = <100>;
			qcom,supply-pre-on-sleep = <0>;
			qcom,supply-post-on-sleep = <0>;
			qcom,supply-pre-off-sleep = <0>;
			qcom,supply-post-off-sleep = <0>;
		};

		qcom,panel-supply-entry@3 {
			reg = <3>;
			qcom,supply-name = "ibb";
			qcom,supply-min-voltage = <4000000>;
			qcom,supply-max-voltage = <6300000>;
			qcom,supply-enable-load = <100000>;
			qcom,supply-disable-load = <100>;
			qcom,supply-pre-on-sleep = <0>;
			qcom,supply-post-on-sleep = <0>;
			qcom,supply-pre-off-sleep = <0>;
			qcom,supply-post-off-sleep = <0>;
		};

		qcom,panel-supply-entry@4 {
			reg = <4>;
			qcom,supply-name = "oledb";
			qcom,supply-min-voltage = <5000000>;
			qcom,supply-max-voltage = <8100000>;
			qcom,supply-enable-load = <100000>;
			qcom,supply-disable-load = <100>;
			qcom,supply-pre-on-sleep = <0>;
			qcom,supply-post-on-sleep = <0>;
			qcom,supply-pre-off-sleep = <0>;
			qcom,supply-post-off-sleep = <0>;
		};
	};
};

&mot_smd_601_1080p_cmd_s_v0 {
	qcom,mdss-dsi-panel-name = "mipi_mot_cmd_smd_1080p_601_s";

	qcom,platform-reset-gpio = <&tlmm 8 0>;
	qcom,mdss-dsi-t-clk-post = <0x0d>;
	qcom,mdss-dsi-t-clk-pre = <0x30>;
	qcom,mdss-mdp-transfer-time-us = <14000>;

        /* Enable ESD checking */
        qcom,esd-check-enabled;
        qcom,mdss-dsi-panel-status-check-mode = "reg_read";
        qcom,mdss-dsi-panel-status-read-length = <1>;
        qcom,mdss-dsi-panel-status-command = [06 01 00 01 00 00 01 0A];
        qcom,mdss-dsi-panel-status-command-state = "dsi_hs_mode";
        qcom,mdss-dsi-panel-status-value = <0x9c>;

	qcom,mdss-dsi-display-timings {
		timing@0{
			qcom,mdss-dsi-panel-phy-timings = [00 1f 08 08 24 22 08
							08 05 03 04 00];
			qcom,display-topology = <1 0 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&qupv3_se4_i2c {
	cs40l20@41 {
		status = "ok";
	};

	aw869x_haptic@5a {
		status = "disable";
	};
};

&qupv3_se7_i2c {
	synaptics_dsx_i2c@38 {
		status = "disable";
	};
};

&qupv3_se10_i2c {
	/* Allow channels 0,1,2,3 on monmouth */
	sx933x@28 {
		Semtech,button-flag = <0x0F>;
		cap_vdd-supply = <&pm660l_bob>;
	};
};

&regulator_ldoa11 {
	/* allow NPM */
	qcom,supported-modes =
			<RPMH_REGULATOR_MODE_LPM
			 RPMH_REGULATOR_MODE_HPM>;
	qcom,mode-threshold-currents = <0 1>;
};

&haptic_int_default {
	mux {
		pins = "gpio39";
	};

	config {
		pins = "gpio39";
	};
};
