/* Copyright (c) 2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "trinket-moto-common-overlay.dtsi"
#include "doha-panel.dtsi"
#include "doha-dtv.dtsi"
#include "trinket-doha-audio-overlay.dtsi"
#include "trinket-doha-touch-overlay.dtsi"
#include "trinket-doha-camera-overlay.dtsi"

&usb_qmp_phy {
	status = "disabled";
};

&usb0 {
	dwc3@4e00000 {
		usb-phy = <&qusb_phy0>, <&usb_nop_phy>;
		maximum-speed = "high-speed";
	};
};

&pmi632_rgb {
	red {
		label = "charging";
	};
};

