&qupv3_se2_i2c {
	status = "disabled";
};

&qupv3_se2_spi {
	status = "ok";
	focaltech@0 {
		compatible = "focaltech,fts";
		reg = <0x0>;
		interrupt-parent = <&tlmm>;
		interrupts = <88 0x02>;
		spi-max-frequency=<8000000>;
		focaltech,reset-gpio = <&tlmm 87 0x01>;
		focaltech,irq-gpio = <&tlmm 88 0x02>;
		focaltech,share_reset_gpio;
		focaltech,max-touch-number = <10>;
		focaltech,display-coords =  <0 0 1080 2280>;
		pinctrl-names = "pmx_ts_active","pmx_ts_suspend","pmx_ts_release";
		pinctrl-0 = <&ts_int_active &ts_reset_active>;
		pinctrl-1 = <&ts_int_suspend &ts_reset_suspend>;
		pinctrl-2 = <&ts_release>;
		status = "/chosen", "mmi,panel_name", "tm_ft8719_fhd_vid";
	};
	himax@0 {
		compatible = "himax,hxcommon";
		reg = <0x0>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&tlmm>;
		interrupts = <88 0x02>;
		himax,panel-coords = <0 1080 0 2280>;
		himax,display-coords = <0 1080 0 2280>;
		himax,irq-gpio = <&tlmm 88 0x02>;
		himax,rst-gpio = <&tlmm 87 0x01>;
		himax,touch_info = <36 18 0 1080 2280 10 0 1>;
		himax,vdd_1v8_always_on;
		report_type = <1>;
		status = "/chosen", "mmi,panel_name", "ds_hx83112a_fhd_vid";
	};
};

