config SLIMPORT_ANX7805
	tristate "Analogix Slimport transmitter ANX7805 support"
	select MSM_DBA_MOT_DBA
	help
	  Slimport Transmitter is a HD video transmitter chip over micro-USB connector for smartphone device.
