/* Copyright (c) 2013, The Linux Foundation. All rights reserved.
 * Copyright (c) 2014 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "apq8084-moto-common.dtsi"
#include "dsi-panel-mot-smd-720p-video.dtsi"

/ {
	model = "Motorola APQ 8084 Lexington";
	compatible = "qcom,apq8084-lexington",
		   "qcom,apq8084-moto",
		   "qcom,apq8084";
};

&pma8084_l22 {
	regulator-always-on;
};

&mdss_mdp {
	qcom,mdss-pref-prim-intf = "dsi";
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&mot_smd_720p_vid>;
	qcom,platform-reset-gpio = <&msmgpio 86 0>;
	qcom,platform-te-gpio = <&msmgpio 12 0>;
	vbat_disp-supply = <&vbat_disp_vreg>;
	vdd_disp-supply = <&vdd_disp_vreg>;
	vci_disp-supply = <&vci_disp_vreg>;
	/delete-property/ vdd-supply;
	/delete-node/ qcom,platform-supply-entry1;
};

&mdss_dsi1 {
	status = "disabled";
};

&max17050 {
	interrupt-parent = <&spmi_bus>;
	interrupts = <0x0 0xa1 0x0>;    /* PMA8084 MPP 2 */
	gpios = <&pma8084_mpps 2 0x1>;  /* GPIOF_DIR_IN */
};

&soc {
	factory_support {
		gpios = <&pma8084_gpios 17 0x0>, /* GPIOF_OUT_INIT_LOW */
			<&pma8084_mpps 7 0x1>, /* GPIOF_IN */
			<&pma8084_mpps 6 0x1>; /* GPIOF_IN */
	};
};
