/* Copyright (c) 2016, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


/ {
	qcom,board-id = <0x42 0xA100>;
};

&soc {
	sound {
		cs47l35,micbias-routing =
			"IN1AL", "MICBIAS1A",
			"IN2L",  "MICBIAS1A",
			"IN2L",  "GPSW",
			"IN2R",  "MICBIAS1B",
			"IN1BR", "MICBIAS2A";
	};
};

&tlmm {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};
