/* Copyright (c) 2014, Motorla Mobility LLC. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


/dts-v1/;

#include "msm8994-bunkerhill.dtsi"

/ {
	qcom,board-id = <0x41 0x8100>;
};

&i2c_5 {
	stm401@39 {
		gpios = <&msm_gpio 127 0>,      /* IRQ          */
			<&msm_gpio 57 0>,       /* RESET        */
			<&msm_gpio 78 0>,       /* BSLEN        */
			<&msm_gpio 65 0>,       /* WakeIRQ      */
			<&msm_gpio 89 0>,       /* SH Wake      */
			<&msm_gpio 16 0>;       /* SH Wake Resp */
	};
};

&tlmm_pinmux {
	pmx_stm401_out {
		qcom,pins = <&gp 57 &gp 78 &gp 89>;
		qcom,num-grp-pins = <3>;
	};
};

&i2c_2 {
	atmel_mxt_ts@4a {
		touch_vdd-supply = <&pm8994_l14>;
	};
};

&cci {
	qcom,camera@0 {
		gpios = <&msm_gpio 13 0>,
			<&msm_gpio 30 0>,
			<&msm_gpio 95 0>,
			<&msm_gpio 131 0>;
		qcom,gpio-reset = <1>;
		qcom,gpio-vana = <2>;
		qcom,gpio-standby = <3>;
		qcom,gpio-req-tbl-num = <0 1 2 3>;
		qcom,gpio-req-tbl-flags = <1 0 0 0>;
		qcom,gpio-req-tbl-label = "CAMIF_MCLK0",
					  "CAM_RESET0",
					  "CAM_VANA",
					  "CAM_PWRDN";
	};
};
