/* Copyright (c) 2015, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&tlmm {
	cnss_pins {
		cnss_default: cnss_default {
			mux {
				pins = "gpio121";
			};

			config {
				pins = "gpio121";
			};
		};
	};

	i2c_5 {
		i2c_5_active: i2c_5_active {
			i2c_5 {
				pins = "gpio83", "gpio84";
				function = "blsp_i2c5";
				drive-strength = <2>;
				bias-disable;
			};
		};

		i2c_5_sleep: i2c_5_sleep {
			i2c_5 {
				pins = "gpio83", "gpio84";
				function = "blsp_i2c5";
				drive-strength = <2>;
				bias-pull-up;
			};
		};
	};

	/* These are defined in msm8996-pinctrl.dtsi but we need to add CS on
	 * GPIO2 since our reference design includes it.
	 */
	spi_0 {
		spi_0_active: spi_0_active {
			spi_0_cs0 {
				pins = "gpio2";
				function = "blsp_spi1";
				drive-strength = <0x6>;
				bias-disable;
			};

			spi_0_cs2b {
				pins = "gpio28";
				function = "blsp1_spi";
				drive-strength = <6>;
				bias-disable;
			};
		};

		spi_0_sleep: spi_0_sleep {
			spi_0_cs0 {
				pins = "gpio2";
				function = "blsp_spi1";
				drive-strength = <0x6>;
				bias-disable;
			};

			spi_0_cs2b {
				pins = "gpio28";
				function = "blsp1_spi";
				drive-strength = <6>;
				bias-disable;
			};
		};
	};

	/* QC definition in msm8996-pinctrl.dtsi uses gpio90 which conflicts
	 * with motosh bslen
	 */
	spi_0_cs {
		spi_0_cs_active {
			mux {
				/delete-property/ pins;
				pins = "gpio24";
			};
			config {
				/delete-property/ pins;
				pins = "gpio24";
			};
	       };

	       spi_0_cs_sleep {
			mux {
				/delete-property/ pins;
				pins = "gpio24";
			};
			config {
				/delete-property/ pins;
				pins = "gpio24";
			};
		};
	};

	spi_9 {
		spi_9_active: spi_9_active {
			spi_9 {
				pins = "gpio49", "gpio50", "gpio51", "gpio52";
				function = "blsp_spi9";
				drive-strength = <6>;
				bias-pull-up;
			};
		};

		spi_9_sleep: spi_19_sleep {
			spi_9 {
				pins = "gpio49", "gpio50", "gpio51", "gpio52";
				function = "blsp_spi9";
				drive-strength = <6>;
				bias-pull-up;
			};
		};
	};

	spi_12 {
		spi_12_active: spi_12_active {
			spi_12 {
				pins = "gpio85", "gpio86", "gpio87", "gpio88";
				function = "blsp_spi12";
				drive-strength = <6>;
				bias-disable;
			};
		};

		spi_12_sleep: spi_12_sleep {
			spi_12 {
				pins = "gpio85", "gpio86", "gpio87", "gpio88";
				function = "blsp_spi12";
				drive-strength = <6>;
				bias-disable;
			};
		};
	};

	blsp2_uart5_active: blsp2_uart5_active {
		mux {
			pins = "gpio58", "gpio59", "gpio60", "gpio61";
			function = "blsp_uart11";
		};

		config {
			pins = "gpio58", "gpio59", "gpio60", "gpio61";
			drive-strength = <2>;
			bias-disable;
		};
	};

	blsp2_uart5_sleep: blsp2_uart5_sleep {
		config {
			pins = "gpio58", "gpio59", "gpio60", "gpio61";
			drive-strength = <2>;
			bias-disable;
		};
	};

	fsa8500_hs_det_default: fsa8500_hs_det_default {
		config {
			pins = "gpio63";
			drive-strength = <2>;
			bias-pull-up;
		};
	};


	nfc_irq_default: nfc_irq_default {
		config {
			pins = "gpio9";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	nfc_firm_default: nfc_firm_default {
		config {
			pins = "gpio12";
			drive-strength = <2>;
			bias-pull-down;
			output-low;
		};
	};

	muc_attach: muc_attach@0 {
		config {
			pins = "gpio73";
			bias-disable;
		};
	};

	apba_default: apba_default@0 {
		apba_bootret {
			pins = "gpio27";
			drive-strength = <2>;
			bias-pull-down;
		};

		apba_reset_n {
			pins = "gpio36";
			drive-strength = <2>;
			bias-pull-down;
		};

		mod_mphy_i2s_sel {
			pins = "gpio81";
			drive-strength = <2>;
			bias-pull-down;
		};
		apba_wake {
			pins = "gpio25";
			drive-strength = <2>;
			bias-pull-up;
		};

		apba_int_n {
			pins = "gpio37";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	muc_spi_ctrl: muc_spi_ctrl@0 {
		config {
			pins = "gpio26", "gpio74", "gpio82";
			bias-disable;
		};
	};

	touch_reset_n {
		/*label = "touch-reset";*/

		touch_reset_default: default {
			mux {
				pins = "gpio39";
				function = "gpio";
			};

			config {
				pins = "gpio39";
				output-low;
			};
		};

		touch_reset_active: active {
			mux {
				pins = "gpio39";
				function = "gpio";
			};

			config {
				pins = "gpio39";
				drive-strength = <2>;   /* 2 mA */
				bias-pull-up; /* pull-up */
			};
		};
	};

	touch_int_n {
		/*label = "touch-int";*/

		touch_int_default: default {
			mux {
				pins = "gpio40";
				function = "gpio";
			};

			config {
				pins = "gpio40";
				bias-disable;
			};
		};

		touch_int_active: active {
			mux {
				pins = "gpio40";
				function = "gpio";
			};

			config {
				pins = "gpio40";
				drive-strength = <2>;
				bias-pull-up; /* pull-up */
			};
		};
	};

	florida_irq_default: tmp108_irq_default {
		config {
			pins = "gpio54";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	florida_reset_default: florida_reset_default {
		config {
			pins = "gpio64";
			output-high;
			bias-pull-up;
			drive-strength = <2>;
		};
	};

	pmx_motosh_out: default {
		config {
			pins ="gpio90", "gpio95";
			function = "gpio";
                        output-low;
			drive-strength = <2>;
			bias-disable;
		};
	};

	pmx_motosh_in: default {
		config {
			pins = "gpio91", "gpio92", "gpio96";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};
	};
};
