/* Copyright (c) 2014, Motorola Mobility LLC. All rights reserved.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/

/dts-v1/;

#include "msm8916-osprey.dtsi"

/ {
	qcom,board-id = <0x44 0x8000>;
};

&tlmm_pinmux {
	pmx_sdc2_clk {
		sdc2_clk_on: clk_on {
			drive-strength = <12>; /* 12 MA */
		};
	};
};

&i2c_1 {
	fsa8500@23 {
		status = "ok";
	};
};

&usb_otg {
	/delete-node/ qcom,usbin-vadc;
};

&stml0xx {
	headset_detect_enable = <0>;
	headset_hw_version = <0>;
};

&soc {
	/delete-node/ vddio_disp_vreg;
	/delete-node/ vdda_touch_vreg;
};

&mdss_dsi0 {
	vddio_disp-supply = <&pm8916_l6>;
};

&i2c_2 {
	synaptics_dsx_i2c@20 {
		touch_vdd-supply = <&pm8916_l16>;
	};
};

&pm8916_l16 {
	/delete-property/ regulator-boot-on;
	/delete-property/ regulator-always-on;
};

&mot_inx_500_720p_vid_v0 {
	/delete-property/ qcom,mdss-dsi-on-command;
	qcom,mdss-dsi-on-command = [
		29 01 00 00 00 00 06 F0 55 AA 52 08 00	/* Page 0 */
		29 01 00 00 00 00 0B E8 F3 D9 CC C0 B8 B0 A0 A0 A0 9C	/* Brightness control for Moving Mode */
		29 01 00 00 00 00 03 D9 03 06	/* Set PWM freq. at 32.55k Hz*/
		29 01 00 00 00 00 02 EA 09		/* PWM compensation */
		05 01 00 00 78 00 02 11 00		/* Exit sleep */
		15 01 00 00 00 00 02 51 FF		/* Brightness */
		15 01 00 00 00 00 02 53 2C		/* CTRL Display */
		15 01 00 00 00 00 02 55 01		/* UI CABC mode */
		05 01 00 00 00 00 02 29 00];	/* Display on */
};
