/* Copyright (c) 2014, Motorola Mobility LLC. All rights reserved.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 and
* only version 2 as published by the Free Software Foundation.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*/

#include "msm8916-moto-common.dtsi"

/ {
	model = "Motorola Mobility MSM 8916 Osprey";
	compatible = "qcom,msm8916-osprey", "qcom,msm8916-moto", "qcom,msm8916";
};

&tlmm_pinmux {
	cc_alert {
		qcom,pins = <&gp 49>;
	};

	nmi326_enable_reset {
		qcom,pins = <&gp 37>, <&gp 80>;
	};
};

&spi_4 {
	status = "okay";
};

&i2c_6 {
	status = "okay";
};

&i2c_4 {
	status = "disabled";
};

&i2c_1 {
	tps65132@3e {
		compatible = "ti,tps65132";
		reg = <0x3e>;
		ti,en-gpio-lpm;

		regulators {
			tps65132_pos: pos-boost {
				regulator-name = "tps65132-pos";
				regulator-min-microvolt = <5400000>;
				regulator-max-microvolt = <5600000>;
				ti,discharge-enable;
				ti,enable-time = <800>;
				ti,current-limit = <200000>;
				ti,en-gpio = <&pm8916_gpios 3 0>;
			};

			tps65132_neg: neg-boost {
				regulator-name = "tps65132-neg";
				regulator-min-microvolt = <5400000>;
				regulator-max-microvolt = <5600000>;
				ti,discharge-enable;
				ti,enable-time = <800>;
				ti,current-limit = <40000>;
				ti,en-gpio = <&pm8916_gpios 4 0>;
			};
		};
	};

	fan54046: fan54046-charger@6b {
		compatible = "fairchild,fan54046-charger";
		reg = <0x6b>;

		interrupt-parent = <&msm_gpio>;
		interrupts = <62 0x0>;
		qcom,fan5404x-vadc = <&pm8916_vadc>;
		regulator-name = "fan54046_otg_vreg";

		fairchild,bms-psy-name = "max170xx_battery";
		fairchild,ext-temp-volt-mv = <4000>;
		fairchild,ext-temp-soc = <65>;
		fairchild,oreg-voltage-mv = <4350>;

		pinctrl-names = "default";
		pinctrl-0 = <&fan5404x_int_default>;
	};

	max17050: max17050-battery@36 {
		compatible = "maxim,max17050";
		reg = <0x36>;
		maxim,rsns-microohm = <10000>;

		interrupt-parent = <&msm_gpio>;
		interrupts = <49 0x0>;
		gpios = <&msm_gpio 49 0x11>; /* GPIOF_DIR_IN|GPIOF_EXPORT */
		gpio-names = "cc-alert";

		maxim,enable_por_init;
		maxim,batt_undervoltage_zero_soc;
		maxim,batt-psy-name = "battery";
		maxim,warm-temp-c = <45>;
		maxim,hot-temp-c = <60>;
		maxim,cool-temp-c = <0>;
		maxim,cold-temp-c = <(-20)>;

		maxim,valrt-threshold = <0xffa0>; /* Vmin 3.2V */

		pinctrl-names = "default";
		pinctrl-0 = <&cc_alert_default>;

		maxim,configuration {
			/* Required properties */
			/* Table from Maxim for FT40 LG 2360 mAhr Battery */
			config		= /bits/ 16 <0x0254>;
			full_soc_thresh	= /bits/ 16 <0x5F00>;	/* app note constant */
			design_cap	= /bits/ 16 <4720>;	/* mAh times 2 */
			ichgt_term	= /bits/ 16 <0x0280>;	/* battery attribute */
			learn_cfg	= /bits/ 16 <0x2606>;	/* app note constant */
			filter_cfg	= /bits/ 16 <0x87A4>;	/* app note constant */
			relax_cfg	= /bits/ 16 <0x203B>;
			fullcap		= /bits/ 16 <4720>;	/* mAh times 2 */
			fullcapnom	= /bits/ 16 <4720>;	/* mAh times 2 */
			qrtbl00		= /bits/ 16 <0x4100>;	/* battery attribute */
			qrtbl10		= /bits/ 16 <0x1F00>;	/* battery attribute */
			qrtbl20		= /bits/ 16 <0x0D82>;	/* battery attribute */
			qrtbl30		= /bits/ 16 <0x0B05>;	/* battery attribute */
			rcomp0 		= /bits/ 16 <0x0081>;	/* battery attribute */
			tcompc0		= /bits/ 16 <0x3056>;	/* battery attribute */
			maxim,cell-char-tbl = /bits/ 16 <	/* battery attribute */
				0xa300 0xb6a0 0xb900 0xbc00 0xbc60 0xbd10
				0xbda0 0xbe60 0xbed0 0xc090 0xc210 0xc720
				0xcaa0 0xcce0 0xcfb0 0xd7b0 0x0170 0x0f00
				0x0c00 0x2a20 0x1b00 0x2000 0x1670 0x1990
				0x10e0 0x08e0 0x0a70 0x0750 0x08c0 0x07d0
				0x06f0 0x06f0 0x0100 0x0100 0x0100 0x0100
				0x0100 0x0100 0x0100 0x0100 0x0100 0x0100
				0x0100 0x0100 0x0100 0x0100 0x0100 0x0100
			>;
			/* Optional properties */
			tgain		= /bits/ 16 <0xE71C>;	/* thermistor attribute */
			toff		= /bits/ 16 <0x251A>;	/* thermistor attribute */
			cgain		= /bits/ 16 <0x4000>;	/* current sense attribute */
			misc_cfg	= /bits/ 16 <0x0170>;
			rev		= /bits/ 16 <0x0001>;
		};

		maxim,temp-conv {
			start	= /bits/ 16 <(-20)>;	/* in degrees C */
			result	= /bits/ 16 <
				/* 1/10th C "real" temps corresponding start, start + 1, etc. fuel gauge temps in C */
				(-302) (-271) (-246) (-222) (-202) (-180) (-162) (-147) (-129) (-114)	/* -20 C ... -11 C */
				(-101) (-86)  (-72)  (-59)  (-48)  (-35)  (-23)  (-12)  (-2)   10	/* -10 C ... -1  C */
				22     32     42     51     62     72     82     91     99     110	/*  0  C ...  9  C */
				120    129    138    146    156    165    175    184    192    200	/*  10 C ...  19 C */
				210    220    230    238    247    256    266    275    285    294	/*  20 C ...  29 C */
				303    313    324    333    343    353    364    375    385    395	/*  30 C ...  39 C */
				407    419    430    441    453    466    479    492    505    520	/*  40 C ...  49 C */
				534    548    565    581    597    616    635    654    676    697	/*  50 C ...  59 C */
				721    747    775    800						/*  60 C ...  63 C */
			>;
		};
	};
};

&pm8916_gpios {
	gpio@c200 { /* GPIO 3 - DISP_VSP_EN */
		status = "okay";
		qcom,mode = <1>;	/* QPNP_PIN_MODE_DIG_OUT */
		qcom,pull = <5>;	/* QPNP_PIN_PULL_NO */
		qcom,vin-sel = <2>;	/* QPNP_PIN_VIN2 */
		qcom,src-sel = <0>;	/* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,master-en = <1>;
	};

	gpio@c300 { /* GPIO 4 - DISP_VSN_EN */
		status = "okay";
		qcom,mode = <1>;	/* QPNP_PIN_MODE_DIG_OUT */
		qcom,pull = <5>;	/* QPNP_PIN_PULL_NO */
		qcom,vin-sel = <2>;	/* QPNP_PIN_VIN2 */
		qcom,src-sel = <0>;	/* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,master-en = <1>;
	};
};

&nmi326_dtv {
	reset-gpio = <&msm_gpio 80 0>;
	enable-gpio = <&msm_gpio 37 0>;
};
