/* Copyright (c) 2015, Motorola Mobility LLC. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


/dts-v1/;

#include "msm8992-clark.dtsi"

/ {
	qcom,board-id = <0x41 0x8000>;
};

&soc {
	i2c@f9926000 { /* BLSP1 QUP3 */
		isl98611@29 {
			compatible = "intersil,isl98611";
			reg = <0x29>;
			status = "okay";
			linux,name = "wled:backlight";
			linux,default-trigger = "bkl-trigger";
			intersil,default-on;
			intersil,vn = <20>;
			intersil,vp = <20>;
			intersil,cabc-disable;
			intersil,init-level = <255>;
			pinctrl-names = "default";
			pinctrl-0 = <&backlight_reset_default>;
		};
	};
};
