/* Copyright (c) 2015, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


#include "msm8952.dtsi"
#include "msm8952-pinctrl.dtsi"

/ {
	aliases {
		serial0 = &blsp1_uart2;
		spi4 = &spi_4;
		/delete-property/ i2c5;
		/delete-property/ spi0;
	};
};

&tlmm_pinmux {
	tlmm_gpio_key {
			qcom,pins = <&gp 85>;
			qcom,num-grp-pins = <1>;
	};

	touch_reset_n {
		qcom,pins = <&gp 64>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "touch-reset";

		touch_reset_default: default {
			output-low;
		};

		touch_reset_active: active {
			drive-strength = <2>;
			bias-pull-up; /* pull-up */
		};
	};

	touch_int_n {
		qcom,pins = <&gp 65>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "touch-int";

		touch_int_default: default {
			bias-disable;
		};

		touch_int_active: active {
			drive-strength = <2>;
			bias-pull-up; /* pull-up */
		};
	};

	tfa9890_reset {
		qcom,pins = <&gp 94>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "tfa9890-reset";

		tfa9890_reset_default: default {
			drive-strength = <2>;
			bias-disable; /* no pull */
			output-low;
		};
	};

	tfa9890_earpiece_en {
		qcom,pins = <&gp 68 0>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "tfa9890_earpiece";
		tfa9890_earpiece_default: default {
			bias-disable;
			drive-strength = <2>;
		};
	};

	spi4_active {
		/* BLSP5 MOSI, MISO, CLK */
		qcom,pins = <&gp 16>, <&gp 17>, <&gp 19>;
		qcom,num-grp-pins = <3>;
		qcom,pin-func = <1>;
		label = "spi4-active";
		/* active state */
		spi4_default: spi4_default {
			drive-strength = <12>; /* 12 MA */
			bias-disable = <0>; /* No PULL */
		};
	};

	spi4_suspend {
		/* BLSP5 MOSI, MISO, CLK */
		qcom,pins = <&gp 16>, <&gp 17>, <&gp 19>;
		qcom,num-grp-pins = <3>;
		qcom,pin-func = <0>;
		label = "spi4-suspend";
		/* suspended state */
		spi4_sleep: spi4_sleep {
			drive-strength = <2>; /* 2 MA */
			bias-pull-down; /* PULL Down */
		};
	};

	spi4_cs0_active {
		/* BLSP5 CS */
		qcom,pins = <&gp 18>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <1>;
		label = "spi4-cs0-active";
		spi4_cs0_active: cs0_active {
			drive-strength = <2>;
			bias-disable = <0>;
		};
	};

	spi4_cs0_suspend {
		/* BLSP5 CS */
		qcom,pins = <&gp 18>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "spi4-cs0-suspend";
		spi4_cs0_sleep: cs0_sleep {
			drive-strength = <2>;
			bias-disable = <0>;
		};
	};

	/* IRQ, WakeIRQ, SPI Data Ack, SPI Ready for Receive */
	stml0xx_inputs {
		qcom,pins = <&gp 9>, <&gp 90>, <&gp 1>, <&gp 12>;
		qcom,num-grp-pins = <4>;
		qcom,pin-func = <0>;
		label = "stml0xx-inputs";

		stml0xx_inputs_default: stml0xx-inputs {
			bias-disable;	 /* no pull */
			drive-strength = <2>;
		};
	};

	stml0xx_wakeup {
		qcom,pins = <&gp 128>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "stml0xx-wakeup";

		stml0xx_wakeup_default: stml0xx-wakeup {
			bias-disable;	 /* no pull */
			drive-strength = <2>;
			output-high;
		};
	};

	stml0xx_reset {
		qcom,pins = <&gp 87>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "stml0xx-reset";

		stml0xx_reset_default: stml0xx-reset {
			bias-disable;	 /* no pull */
			drive-strength = <2>;
			output-high;
		};
	};

	stml0xx_flash_en {
		qcom,pins = <&gp 8>;
		qcom,num-grp-pins = <1>;
		qcom,pin-func = <0>;
		label = "stml0xx-flash-en";

		stml0xx_flash_en_default: stml0xx-flash-en {
			bias-disable;	 /* no pull */
			drive-strength = <2>;
			output-low;
		};
	};

		mi2s-5-tlmm-lines-0 {
			qcom,pins = <&gp 88>, <&gp 91>;
			qcom,num-grp-pins = <2>;
			qcom,pin-func = <1>;
			label = "mi2s-5-lines-0";
			mi2s_5_tlmm_lines0_act: mi2s_5_tlmm_lines0_on {
				drive-strength = <8>;
			};
			mi2s_5_tlmm_lines0_sus: mi2s_5_tlmm_lines0_off {
				drive-strength = <2>;
				bias-disable;
			};
		};

		mi2s-5-tlmm-lines-1 {
			qcom,pins = <&gp 92>, <&gp 93>;
			qcom,num-grp-pins = <2>;
			qcom,pin-func = <3>;
			label = "mi2s-5-lines-1";
			mi2s_5_tlmm_lines1_act: mi2s_5_tlmm_lines1_on {
				drive-strength = <8>;
			};
			mi2s_5_tlmm_lines1_sus: mi2s_5_tlmm_lines1_off {
				drive-strength = <2>;
				bias-disable;
			};
		};
};

&soc {
	/delete-node/ spi@78B5000;
	/delete-node/ i2c@7af5000;

	spi_4: spi@7af5000 { /* BLSP2 QUP1 */
		compatible = "qcom,spi-qup-v2";
		#address-cells = <1>;
		#size-cells = <0>;
		reg-names = "spi_physical", "spi_bam_physical";
		reg = <0x7af5000 0x600>,
		      <0x7ac4000 0x1f000>;
		interrupt-names = "spi_irq", "spi_bam_irq";
		/* IRQ 239 for BLSP2 */
		interrupts = <0 299 0>, <0 239 0>;
		spi-max-frequency = <19200000>;
		pinctrl-names = "spi_default", "spi_sleep";
		pinctrl-0 = <&spi4_default &spi4_cs0_active>;
		pinctrl-1 = <&spi4_sleep &spi4_cs0_sleep>;
		clock-names = "iface_clk", "core_clk";
		clocks = <&clock_gcc clk_gcc_blsp2_ahb_clk>,
			 <&clock_gcc clk_gcc_blsp2_qup1_spi_apps_clk>;
		qcom,infinite-mode = <0>;
		qcom,use-bam;
		qcom,use-pinctrl;
		qcom,ver-reg-exists;
		/* need to check pipe index setting*/
		qcom,bam-consumer-pipe-index = <4>;
		qcom,bam-producer-pipe-index = <5>;
		/* master-id for BLSP2 is MSM_BUS_MASTER_BLSP_2 or 84 */
		qcom,master-id = <84>;
		status = "ok";

		stml0xx: stml0xx@0 {
			compatible = "stm,stml0xx";
			status = "ok";
			reg = <0>;
			spi-max-frequency = <8000000>;
			gpios = <&msm_gpio 9 0>,       /* IRQ */
				<&msm_gpio 87 0>,      /* RESET */
				<&msm_gpio 8 0>,       /* BSLEN */
				<&msm_gpio 90 0>,      /* WakeIRQ */
				<&msm_gpio 12 0>,      /* SPI Ready for Receive */
				<&msm_gpio 1 0>,       /* SPI Data Ack */
				<&msm_gpio 128 0>;     /* Wake Up Sensor Hub */
			lux_table = <5 50 100 1500 3000 8000>;
			brightness_table = <9 14 18 46 67 93 140>;
			bslen_pin_active_value = <1>;
			ct406_detect_threshold = <0x0096>;
			ct406_undetect_threshold = <0x0073>;
			ct406_recalibrate_threshold = <0x0064>;
			ct406_pulse_count = <0x03>;
			ct406_prox_gain = <0x02>;
			ct406_als_lux1_c0_mult = <0x294>;
			ct406_als_lux1_c1_mult = <0x55A>;
			ct406_als_lux1_div = <0x64>;
			ct406_als_lux2_c0_mult = <0xDA>;
			ct406_als_lux2_c1_mult = <0x186>;
			ct406_als_lux2_div = <0x64>;
			dsp_iface_enable = <0>;
			headset_detect_enable = <1>;
			headset_hw_version = <2>;
			headset_insertion_debounce = <0x01F4>;
			headset_removal_debounce = <0x0080>;
			headset_button_down_debounce = <0x0032>;
			headset_button_up_debounce = <0x0032>;
			headset_button_0-1_threshold = <0x009D>;
			headset_button_1-2_threshold = <0x0145>;
			headset_button_2-3_threshold = <0x0201>;
			headset_button_3-upper_threshold = <0x03B0>;
			headset_button_1_keycode = <0xE2>;  /* KEY_MEDIA	*/
			headset_button_2_keycode = <0x246>; /* KEY_VOICECOMMAND */
			headset_button_3_keycode = <0x73>;  /* KEY_VOLUMEUP     */
			headset_button_4_keycode = <0x72>;  /* KEY_VOLUMEDOWN   */
			cover_detect_polarity = <1>;
			reset_hw_type = <1>;
			accel_orientation_1 = <5>;	/* Accel 1  Orientation value */
			accel_orientation_2 = <5>;	/* Accel 2  Orientation value */
			accel_swap = <1>;		/* The accel parts are swapped left/right */
			sensor1-supply = <&pm8950_l6>;
			sensor2-supply = <&pm8950_l17>;

			pinctrl-names = "default";
			pinctrl-0 = <&stml0xx_inputs_default
				     &stml0xx_wakeup_default
				     &stml0xx_reset_default
				     &stml0xx_flash_en_default>;
		};
	};

	/delete-node/ eldo2;

	gpio_keys {
		compatible = "gpio-keys";
		input-name = "gpio-keys";
		pinctrl-names = "tlmm_gpio_key_active","tlmm_gpio_key_suspend";
		pinctrl-0 = <&gpio_key_active>;
		pinctrl-1 = <&gpio_key_suspend>;

		vol_up {
			label = "volume_up";
			gpios = <&msm_gpio 85 0x1>;
			linux,input-type = <1>;
			linux,code = <115>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};
	};

	sound {
		compatible = "qcom,msm8952-audio-codec";
		qcom,model = "msm8952-tfa9890-snd-card";
		reg =   <0xc051000 0x4>,
			<0xc051004 0x4>,
			<0xc055000 0x4>,
			<0xc052000 0x4>;
		reg-names = "csr_gp_io_mux_mic_ctl",
			"csr_gp_io_mux_spkr_ctl",
			"csr_gp_io_lpaif_pri_pcm_pri_mode_muxsel",
			"csr_gp_io_mux_quin_ctl";
		qcom,msm-ext-pa = "primary";
		qcom,msm-mclk-freq = <9600000>;
		qcom,msm-mbhc-hphl-swh = <0>;
		qcom,msm-mbhc-gnd-swh = <0>;
		qcom,msm-hs-micbias-type = "external";
		qcom,msm-micbias-ext-cap;
		qcom,msm-micbias1-ext-cap;
		qcom,audio-routing =
			"RX_BIAS", "MCLK",
			"SPK_RX_BIAS", "MCLK",
			"INT_LDO_H", "MCLK",
			"MIC BIAS External", "Handset Mic",
			"MIC BIAS External2", "Headset Mic",
			"MIC BIAS External", "Secondary Mic",
			"AMIC1", "MIC BIAS External",
			"AMIC2", "MIC BIAS External2",
			"AMIC3", "MIC BIAS External";
		qcom,msm-gpios =
			"pri_i2s",
			"quin_i2s";
		qcom,pinctrl-names =
			"all_off",
			"pri_i2s_act",
			"quin_i2s_act",
			"quin_pri_i2s_act";
		pinctrl-names =
			"all_off",
			"pri_i2s_act",
			"quin_i2s_act",
			"quin_pri_i2s_act";
		pinctrl-0 = <&cdc_pdm_lines_sus &cdc_pdm_lines_2_sus &cross_conn_det_sus &mi2s_5_tlmm_lines0_sus &mi2s_5_tlmm_lines1_sus>;
		pinctrl-1 = <&cdc_pdm_lines_act &cdc_pdm_lines_2_act &cross_conn_det_sus &mi2s_5_tlmm_lines0_sus &mi2s_5_tlmm_lines1_sus>;
		pinctrl-2 = <&cdc_pdm_lines_sus &cdc_pdm_lines_2_sus &cross_conn_det_sus &mi2s_5_tlmm_lines0_act &mi2s_5_tlmm_lines1_act>;
		pinctrl-3 = <&cdc_pdm_lines_act &cdc_pdm_lines_2_act &cross_conn_det_sus &mi2s_5_tlmm_lines0_act &mi2s_5_tlmm_lines1_act>;
		asoc-platform = <&pcm0>, <&pcm1>, <&pcm2>, <&voip>, <&voice>,
				<&loopback>, <&compress>, <&hostless>,
				<&afe>, <&lsm>, <&routing>, <&lpa>,
				<&voice_svc>;
		asoc-platform-names = "msm-pcm-dsp.0", "msm-pcm-dsp.1", "msm-pcm-dsp.2",
				"msm-voip-dsp", "msm-pcm-voice", "msm-pcm-loopback",
                                "msm-compress-dsp", "msm-pcm-hostless", "msm-pcm-afe",
				"msm-lsm-client", "msm-pcm-routing", "msm-pcm-lpa",
				"msm-voice-svc";
		asoc-cpu = <&dai_pri_auxpcm>, <&dai_hdmi>,
				<&dai_mi2s0>, <&dai_mi2s1>, <&dai_mi2s2>, <&dai_mi2s3>,
				<&dai_mi2s5>, <&dai_mi2s6>,
				<&sb_0_rx>, <&sb_0_tx>, <&sb_1_rx>, <&sb_1_tx>,
				<&sb_3_rx>, <&sb_3_tx>, <&sb_4_rx>, <&sb_4_tx>,
				<&bt_sco_rx>, <&bt_sco_tx>, <&int_fm_rx>, <&int_fm_tx>,
				<&afe_pcm_rx>, <&afe_pcm_tx>, <&afe_proxy_rx>, <&afe_proxy_tx>,
				<&incall_record_rx>, <&incall_record_tx>, <&incall_music_rx>,
				<&incall_music_2_rx>;
		asoc-cpu-names = "msm-dai-q6-auxpcm.1", "msm-dai-q6-hdmi.8",
				"msm-dai-q6-mi2s.0", "msm-dai-q6-mi2s.1",
				"msm-dai-q6-mi2s.2", "msm-dai-q6-mi2s.3",
				"msm-dai-q6-mi2s.5", "msm-dai-q6-mi2s.6",
				"msm-dai-q6-dev.16384", "msm-dai-q6-dev.16385",
				"msm-dai-q6-dev.16386", "msm-dai-q6-dev.16387",
				"msm-dai-q6-dev.16390", "msm-dai-q6-dev.16391",
				"msm-dai-q6-dev.16392", "msm-dai-q6-dev.16393",
				"msm-dai-q6-dev.12288", "msm-dai-q6-dev.12289",
				"msm-dai-q6-dev.12292", "msm-dai-q6-dev.12293",
				"msm-dai-q6-dev.224", "msm-dai-q6-dev.225",
				"msm-dai-q6-dev.241", "msm-dai-q6-dev.240",
				"msm-dai-q6-dev.32771", "msm-dai-q6-dev.32772",
				"msm-dai-q6-dev.32773", "msm-dai-q6-dev.32770";
		asoc-codec = <&stub_codec>, <&pm8950_cajon_dig>;
		asoc-codec-names = "msm-stub-codec.1", "cajon_codec";
	};

	qcom,msm-dai-mi2s {
		dai_mi2s5: qcom,msm-dai-q6-mi2s-quin {
			qcom,msm-mi2s-rx-lines = <2>;
			qcom,msm-mi2s-tx-lines = <1>;
		};
	};
};

&sdhc_1 {
	vdd-supply = <&pm8950_l8>;
	qcom,vdd-voltage-level = <2900000 2900000>;
	qcom,vdd-current-level = <200 570000>;

	vdd-io-supply = <&pm8950_l5>;
	qcom,vdd-io-always-on;
	qcom,vdd-io-lpm-sup;
	qcom,vdd-io-voltage-level = <1800000 1800000>;
	qcom,vdd-io-current-level = <200 325000>;

	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&sdc1_clk_on &sdc1_cmd_on &sdc1_data_on &sdc1_rclk_on>;
	pinctrl-1 = <&sdc1_clk_off &sdc1_cmd_off &sdc1_data_off &sdc1_rclk_off>;

	qcom,nonremovable;

	status = "ok";
};

&sdhc_2 {
	vdd-supply = <&pm8950_l11>;
	qcom,vdd-voltage-level = <2950000 2950000>;
	qcom,vdd-current-level = <15000 400000>;

	vdd-io-supply = <&pm8950_l12>;
	qcom,vdd-io-voltage-level = <1800000 2950000>;
	qcom,vdd-io-current-level = <200 22000>;

	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&sdc2_clk_on &sdc2_cmd_on &sdc2_data_on &sdc2_cd_on>;
	pinctrl-1 = <&sdc2_clk_off &sdc2_cmd_off &sdc2_data_off &sdc2_cd_off>;

	#address-cells = <0>;
	interrupt-parent = <&sdhc_2>;
	interrupts = <0 1 2>;
	#interrupt-cells = <1>;
	interrupt-map-mask = <0xffffffff>;
	interrupt-map = <0 &intc 0 125 0
			1 &intc 0 221 0
			2 &msm_gpio 67 0>;
	interrupt-names = "hc_irq", "pwr_irq", "status_irq";
	cd-gpios = <&msm_gpio 67 0x1>;

	status = "ok";
};

&blsp1_uart2 {
	status = "ok";
	pinctrl-names = "default";
	pinctrl-0 = <&uart_console_sleep>;
};

&spmi_bus {
	qcom,pm8950@0 {
		/delete-node/ qcom,leds@a300;
	};

	qcom,pmi8950@2 {
		/delete-node/ qcom,leds@a100;
	};

	qcom,pmi8950@3 {
		qcom,leds@d800 {
			qcom,fs-curr-ua = <20000>;
			/delete-property/ qcom,en-ext-pfet-sc-pro;
		};
	};
};

&mdss_mdp {
	qcom,mdss-pref-prim-intf = "dsi";
};

&pmx_mdss_te {
	qcom,num-grp-pins = <1>;
	qcom,pins = <&gp 24>;
};

&pmx_mdss {
	qcom,num-grp-pins = <1>;
	qcom,pins = <&gp 0>;
};

&mdss_dsi0 {
	pinctrl-names = "mdss_default", "mdss_sleep";
	pinctrl-0 = <&mdss_dsi_active &mdss_te_active>;
	pinctrl-1 = <&mdss_dsi_suspend &mdss_te_suspend>;

	qcom,platform-reset-gpio = <&msm_gpio 0 0>;
	qcom,platform-te-gpio = <&msm_gpio 24 0>;

	/delete-property/ vdd-supply;
	/delete-property/ vddio-supply;
	/delete-property/ lab-supply;
	/delete-property/ ibb-supply;
};

&i2c_3 { /* BLSP1 QUP3 */
	synaptics@20 {
		compatible = "synaptics,synaptics_dsx_i2c";
		reg = <0x20>;
		interrupt-parent = <&msm_gpio>;
		interrupts = <65 0>;
		gpios = <&msm_gpio 65 0>, /* IRQ */
			<&msm_gpio 64 0>; /* RESET */
		touch_vdd-supply = <&pm8950_l22>;
		vdd_quirk-supply = <&pm8950_l6>;
		/*vcc_i2c-supply = <&pm8950_l6>;*/
		synaptics,gpio-config;
		/* pins used by touchscreen */
		pinctrl-names = "default", "active";
		pinctrl-0 = <&touch_reset_default &touch_int_default>;
		pinctrl-1 = <&touch_reset_active &touch_int_active>;
		touchstate_modes {
			touchmode-default = <&default_active &default_suspended>;
		};
		default_active: touchstate_default_active {
			patch-data = "";
		};
		default_suspended: touchstate_aod_suspended {
			patch-data = "F1@0=1&7";
		};
	};
};

&i2c_2 { /* BLSP1 QUP2 */
	tfa9890@34 {
		compatible = "nxp,tfa9890";
		reg = <0x34>;
		gpios = <&msm_gpio 94 0>,     /* RESET */
			<&msm_gpio 68 0>;     /* Earpiece Enable */
		tfa_vdd-supply = <&pm8950_l6>;
		nxp,tfa_max-vol-steps = <15>;
		nxp,tfa-dev = "left";
		nxp,tfa_pcm-start-delay = <100>;
		pinctrl-names = "default";
		pinctrl-0 = <&tfa9890_reset_default &tfa9890_earpiece_default>;
	};
};
