/* Copyright (c) 2016, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */


#include "msmcobalt-pinctrl.dtsi"
#include "msmcobalt-moto-pinctrl.dtsi"
#include "msmcobalt-mdss.dtsi"


&i2c_5 {
		/delete-node/ synaptics@20;
};

&i2c_7 {
	status = "ok";

	fsa8500@23 {
		compatible = "fairchild,fsa8500";
		reg = <0x23>;
		gpios = <&tlmm 63 0x0>;
		fsa8500-init-regs = <0x0c 0x41>,
				    <0x0f 0xf9>,
				    <0x11 0x84>,
				    <0x13 0xbf>,
				    <0x14 0x69>;

		fsa8500-keymap = <0x4000000 0xe2>, /* SND_JACK_BTN_0 - KEY_MEDIA */
				 <0x0400000 0x246>, /* SND_JACK_BTN_4 - KEY_VOICECOMMAND */
				 <0x0200000 0x73>, /* SND_JACK_BTN_5 - KEY_VOLUMEUP */
				 <0x0100000 0x72>; /* SND_JACK_BTN_6 - KEY_VOLUMEDOWN */

		pinctrl-names = "default";
		pinctrl-0 = <&fsa8500_hs_det_default>;
		fsa8500-lint-disabled;
		/* If FSA controls L22 it breaks all devices on the same bus
		that try to start earlier. L22 will be turned on in BL eventually */
		/* hs_det_vdd-supply = <&pmcobalt_l22>; */
	};

	stmvl53l0@29 {
		/* Enable once the matching driver is ported completely */
		status = "disabled";
		compatible = "st,stmvl53l0_i2c";
		reg = <0x29>;
		/* L22 is always on for now */
		/* vdd-supply = <&pmcobalt_l22>; */
		gpios = <&pmcobalt_gpios 15 0>, <&tlmm 79 0>;
		qcom,gpio-reset = <0>;
		qcom,gpio-req-tbl-num = <0 1>;
		qcom,gpio-req-tbl-flags = <0 1>;
		qcom,gpio-req-tbl-label ="TOF_XSHUTDOWN","TOF_INT";
		pinctrl-names = "laser_default", "laser_suspend";
		pinctrl-0 = <&laser_active >;
		pinctrl-1 = <&laser_suspend >;
		st,sensorthreshold = <60 65>;
		st,xtalkval = <19>;
	};

	cs35l34@41 {
		compatible = "cirrus,cs35l34";
		reg = <0x41>;

		cirrus,gain-zc = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&cs35l34_reset_default>;
	};

	tmp108@48 {
		compatible = "ti,tmp108";
		reg = <0x48>;
		interrupt-parent = <&tlmm>;
		gpios = <&tlmm 80 0>;

		pinctrl-names = "default";
		pinctrl-0 = <&tmp108_irq_default>;
	};

	drv2624: drv2624@5a {
		compatible = "ti,drv2624";
		reg = <0x5A>;
		ti,rated_voltage = /bits/ 8 <0x6D>;
		ti,overdrive_voltage = /bits/ 8 <0xF0>;
		ti,lra_freq = /bits/ 8 <0xF0>;
		ti,lra_drive;
		ti,auto_cal;
		ti,nrst-gpio = <&pmicobalt_gpios 9 0>;   /* EN_GPIO */
	};

	usb3813@2D {
		status = "ok";
                compatible = "microchip,usb3813";
                reg = <0x2D>;
                gpios = <&pmicobalt_gpios 5 0x0>,   /* HUB_RESET_EN */
                        <&pmicobalt_gpios 1 0x1>;    /* HUB_INT_EN */
                gpio-labels = "gpio_hub_reset_n",
                        "gpio_hub_int_n";
                clock-names = "hub_clk";
		/* msm-clocks-cobalt.h PM8998 LN_BB_CLK2 -> LNBB_CLK2 */
                clocks = <&clock_gcc clk_ln_bb_clk2>;
                enable-usbhost;
                vdd-hsic-supply = <&pmicobalt_bob>;
        };

};

&i2c_8 {
	status = "ok";

	synaptics_dsx_i2c@20 {
		compatible = "synaptics,synaptics_dsx_i2c";
		reg = <0x20>;
		interrupt-parent = <&tlmm>;
		interrupts = <40 0>;
		gpios = <&tlmm 40 0>, /* IRQ */
		<&tlmm 39 0>; /* RESET */
		touch_vdd-supply = <&pmcobalt_l28>;
		synaptics,gpio-config;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&touch_reset_active &touch_int_suspend>;
		pinctrl-1 = <&touch_reset_active &touch_int_active>;
		config_modifier-names = "aod";
		config_modifier-aod {
			aod-suspended {
				/* Power->sleep; */
				patch-data = "S";
			};
		};
	};
};

&pmcobalt_gpios {
	gpio@c100 { /* PM8998_GPIO2 MOD_MPHY_SEL0 */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,invert = <0>;	 /* Invert */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c600 { /* PM8998_GPIO7 DISP_V2_EN */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,pull = <0>;	 /* QPNP_PIN_GPIO_PULL_UP_30 */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@cc00 { /* PM8998_GPIO13 DIV_CLK1 */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <2>;      /* QPNP_PIN_LV_MV_SEL_FUNC_1 */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,pull = <5>;	 /* QPNP_PIN_PULL_NO */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@ce00 { /* PM8998_GPIO15 FOCUS_XSHUT */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,invert = <0>;	 /* Invert */
		qcom,master-en = <1>;
		status = "ok";
	};

	gpio@d100 { /* PM8998_GPIO18 NFC_POWER_ON */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,invert = <0>;	 /* Invert */
		qcom,master-en = <1>;
		status = "ok";
	};

	gpio@d400 { /* PM8998_GPIO21 NFC_CLK_REQ */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 for this pin this is the low voltage */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,invert = <0>;	 /* Invert */
		qcom,master-en = <1>;
		status = "ok";
	};

	gpio@cf00 { /* PM8998_GPIO16 SLEEP_CLK4 */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <2>;      /* QPNP_PIN_LV_MV_SEL_FUNC_1 */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,pull = <5>;	 /* QPNP_PIN_PULL_NO */
		qcom,master-en = <1>;
		status = "okay";
	};

};

&pmicobalt_gpios {

	/* ATTENTION!!! PLEASE USE 1.8 V as vin-sel unless high voltage is required */
	/* PMI8998 GPIOs 1, 3, 4, 6, 7, 8, 11 and 13 have VIN0 3.6 V and VIN1 1.8 V */

	gpio@c000 { /* PMI8998_GPIO1 HSIC_INT_N */
		qcom,mode = <0>;         /* QPNP_PIN_MODE_DIG_IN */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c100 { /* PMI8998_GPIO2 USB_OTG_FAULT_N */
		qcom,mode = <0>;         /* QPNP_PIN_MODE_DIG_IN */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c200 { /* PMI8998_GPIO3 USB_OTG_EN */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};


	gpio@c400 { /* PMI8998_GPIO5 HSIC_RESET_N */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c500 { /* PMI8998_GPIO6 QNOVO_EXT_FET_CTL */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c600 { /* PMI8998_GPIO7 FAN54100_INT_N */
		qcom,mode = <0>;         /* QPNP_PIN_MODE_DIG_IN */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c700 { /* PMI8998_GPIO8 TX_GTR_THRES */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c800 { /* PMI8998_GPIO9 VIB_RST_N */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@c900 { /* PMI8998_GPIO10 MOD_BP_OC_FAULT_N */
		qcom,mode = <0>;         /* QPNP_PIN_MODE_DIG_IN */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@ca00 { /* PMI8998_GPIO11 MOD_BPLUS_LIM */
		qcom,mode = <1>;         /* QPNP_PIN_MODE_DIG_OUT */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <1>;      /* QPNP_PIN_VIN1 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};

	gpio@cd00 { /* PMI8998_GPIO14 CC_ALERT */
		qcom,mode = <0>;         /* QPNP_PIN_MODE_DIG_IN */
		qcom,output-type = <0>;  /* QPNP_PIN_OUT_BUF_CMOS */
		qcom,vin-sel = <0>;      /* QPNP_PIN_VIN0 */
		qcom,src-sel = <0>;      /* QPNP_PIN_SEL_FUNC_CONSTANT */
		qcom,out-strength = <1>; /* QPNP_PIN_OUT_STRENGTH_LOW */
		qcom,master-en = <1>;
		status = "okay";
	};
};

&uartblsp2dm1 {
	status = "ok";
	pinctrl-names = "default";
	pinctrl-0 = <&uart_console_active>;
};

&ufsphy1 {
	vdda-phy-supply = <&pmcobalt_l1>;
	vdda-pll-supply = <&pmcobalt_l2>;
	vddp-ref-clk-supply = <&pmcobalt_l26>;
	vdda-phy-max-microamp = <51400>;
	vdda-pll-max-microamp = <14600>;
	vddp-ref-clk-max-microamp = <100>;
	vddp-ref-clk-always-on;
	status = "ok";
};

&ufs1 {
	vdd-hba-supply = <&gdsc_ufs>;
	vdd-hba-fixed-regulator;
	vcc-supply = <&pmcobalt_l20>;
	vccq-supply = <&pmcobalt_l26>;
	vccq2-supply = <&pmcobalt_s4>;
	vcc-max-microamp = <750000>;
	vccq-max-microamp = <560000>;
	vccq2-max-microamp = <750000>;
	status = "ok";
};

&ufs_ice {
	status = "ok";
};

&red_led {
	linux,name = "charging";
	/delete-property/ linux,default-trigger;
};

/delete-node/ &green_led;
/delete-node/ &blue_led;

&pmcobalt_l22 {
	regulator-always-on;
};
