/* Copyright (c) 2016, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "sdm660-moto-common.dtsi"
#include "msm-pm660a.dtsi"
#include "sdm660-external-codec.dtsi"
#include "sdm660-beckham-pinctrl.dtsi"

/ {
	model = "beckham";
	compatible = "qcom,sdm660-beckham", "qcom,sdm660-moto",
			"qcom,sdm660";
};

&i2c_2 { /* BLSP1 CAP SENSOR */
	status = "okay";
	sx9310@28 {
		compatible = "semtech,sx9310";
		reg = <0x28>;
		cap_vdd-supply = <&pm660l_l3>;
		cap_svdd-supply = <&pm660_l13>;
		interrupt-parent = <&tlmm>;
		interrupts = <52 0x2008>;
		gpios = <&tlmm 52 0x2008>; /* IRQ */
		pinctrl-names = "default";
		pinctrl-0 = <&sx9310_irq_default>;
		reg_array_len = <4>;
		reg_array_val = <0x10 0x54 0x15 0xC3 0x18 0x5E 0x19 0x2E>;
	};

	pcal_pin:gpio@20 {
		compatible = "pcal,pcal-pin";
		status = "ok";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		#address-cells = <1>;
		pcal,pin-num = <16>;
		pcal,reset-gpio = <&tlmm 34 1>;
		};

	drv2624@5a {
		status = "ok";
		compatible = "ti,drv2624";
		reg = <0x5A>;
		/* voltage = *_voltage x 22 mV */
		/* 2V for now */
		ti,rated_voltage = /bits/ 8 <0x57>;
		ti,overdrive_voltage = /bits/ 8 <0x8D>;
		ti,rated_voltage_reduced = /bits/ 8 <0x1A>;
		ti,overdrive_voltage_reduced = /bits/ 8 <0x1C>;
		/* LRA period = lra_freq x 24.39 us */
		/* 175 Hz for now */
		ti,lra_freq = /bits/ 8 <0xAF>;
		ti,lra_drive;
		ti,auto_cal;
		ti,auto_cal_time = /bits/ 8 <0x01>;
		/* sample time 200us  */
		ti,sample_time = /bits/ 8 <0x04>;
		ti,nrst-gpio = <&pcal_pin 10 0>;
		/*ti,nvctrl-gpio = <&tlmm 13 0>;*/
		};
};

&i2c_4 {
	status = "okay";
	synaptics_dsx_i2c@20 {
		compatible = "synaptics,synaptics_dsx_i2c";
		reg = <0x20>;
		interrupt-parent = <&tlmm>;
		interrupts = <67 0>;
		gpios = <&tlmm 67 0>, /* IRQ */
			<&tlmm 66 0>; /* RESET */
		synaptics,gpio-config;
		pinctrl-names = "default", "active";
		pinctrl-0 = <&touch_reset_active &touch_int_suspend>;
		pinctrl-1 = <&touch_reset_active &touch_int_active>;
		config_modifier-names = "aod";
		config_modifier-aod {
			aod-suspended {
				/* Power->sleep; */
				patch-data = "S";
			};
		};
	};
};

&i2c_6 {
	/delete-node/ nq@28;
	nq@28 {
		compatible = "qcom,nq-nci";
		reg = <0x28>;
		qcom,nq-irq = <&tlmm 40 0x00>;
		qcom,nq-ven = <&tlmm 35 0x00>;
		qcom,nq-firm = <&tlmm 61 0x00>;
		interrupt-parent = <&tlmm>;
		interrupts = <40 0>;
		interrupt-names = "nfc_irq";
		pinctrl-names = "nfc_active", "nfc_suspend";
		pinctrl-0 = <&nfc_int_active &nfc_enable_active>;
		pinctrl-1 = <&nfc_int_suspend &nfc_enable_suspend>;
	};
};

&pm660_haptics { /* Vibrator */
	status = "disabled";
};

&soc{
	qcom,tz_gpio {
		compatible = "qcom,tz_gpio";
		tlmm-tz = <0>,
			<1>,
			<2>,
			<3>;
	};

	qcom,msm-thermal {
		qcom,config-info = "beckham";
	};
};

&red_led {
	linux,name = "charging";
	/delete-property/ linux,default-trigger;
};

&sdhc_2 {
	cd-gpios = <&tlmm 54 0x1>;
};

&pmx_mdss {
	mipi_err_pin_active: mipi_err_pin_active {
		mux {
			pins = "gpio60";
			function = "gpio";
		};

		config {
			pins = "gpio60";
			drive-strength = <2>; /* 2 mA */
			bias-pull-up; /* pull up */
			input-enable;
		};
	};

	mipi_err_pin_suspend: mipi_err_pin_suspend {
		mux {
			pins = "gpio60";
			function = "gpio";
		};

		config {
			pins = "gpio60";
			drive-strength = <2>; /* 2 mA */
			bias-pull-up; /* pull up */
			input-enable;
		};
	};
};

&pm660_l11 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	qcom,init-voltage = <1800000>;
	regulator-boot-on;
};

&pm660l_l6 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	qcom,init-voltage = <3000000>;
	regulator-boot-on;
};

&pm660a_oledb {
	qcom,oledb-default-voltage-mv = <7600>;
};


&mdss_dsi0 {
	pinctrl-names = "mdss_default", "mdss_sleep";
	pinctrl-0 = <&mdss_dsi_active &mdss_te_active &mipi_err_pin_active>;
	pinctrl-1 = <&mdss_dsi_suspend &mdss_te_suspend &mipi_err_pin_suspend>;

	/*qcom,dsi-pref-prim-pan = <&mot_smd_549_1080p_alb_cmd_v0>;*/
	vci_disp-supply = <&pm660l_l6>;
	vio_disp-supply = <&pm660_l11>;
	elvdd_disp-supply = <&lab_regulator>;
	elvss_disp-supply = <&ibb_regulator>;
	oled_disp-supply = <&pm660a_oledb>;
	qcom,platform-reset-gpio = <&tlmm 53 0>;
	qcom,platform-te-gpio = <&tlmm 59 0>;
};
/delete-node/ &green_led;
/delete-node/ &blue_led;
