/* Copyright (c) 2016, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&tlmm {
	tps61280_en_default: tps61280_en_default {
		mux {
			pins = "gpio97";
		};
		config {
			pins = "gpio97";
			drive_strength = <16>;
			output-high;
		};
	};

	fps {
		fps_ldo_3P3_en_default: fps_ldo_3P3_en_default {
			mux {
				pins = "gpio60";
			};
			config {
				pins = "gpio60";
				drive_strength = <16>;
				output-high;
			};
		};
		fps_ldo_1P8_en_default: fps_ldo_1P8_en_default {
			mux {
				pins = "gpio61";
			};
			config {
				pins = "gpio61";
				drive_strength = <16>;
				output-high;
			};
		};
	};

	touch_int_mux {
		touch_int_active: active {
			mux {
				pins = "gpio67";
				function = "gpio";
			};
			config {
				pins = "gpio67";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		touch_int_suspend: default {
			mux {
				pins = "gpio67";
				function = "gpio";
			};
			config {
				pins = "gpio67";
				drive-strength = <2>;
				bias-disable;
			};
		};
	};

	touch_reset_mux {
		touch_reset_active: active {
			mux {
				pins = "gpio66";
				function = "gpio";
			};
			config {
				pins = "gpio66";
				drive-strength = <2>;
				bias-disable;
			};
		};

		touch_reset_suspend: default {
			mux {
				pins = "gpio66";
				function = "gpio";
			};
			config {
				pins = "gpio66";
				drive-strength = <2>;
				bias-pull-down;
			};
		};
	};

	spi_8 {
		spi_8_active: spi_8_active {
			mux {
				pins = "gpio28", "gpio29", "gpio31";
			};
			config {
				pins = "gpio28", "gpio29", "gpio31";
				drive-strength = <16>;
			};
		};

		spi_8_sleep: spi_8_sleep {
			mux {
				pins = "gpio28", "gpio29", "gpio31";
				function = "gpio";
			};

			config {
				pins = "gpio28", "gpio29", "gpio31";
				drive-strength = <2>;
				bias-pull-down;
				input-enable;
			};
		};

		spi8_cs0_active: cs0_active {
			mux {
				pins = "gpio30";
				function = "blsp_spi8_a";
			};

			config {
				pins = "gpio30";
				drive-strength = <16>;
				bias-disable;
			};
		};

		spi8_cs0_sleep: cs0_sleep {
			mux {
				pins = "gpio30";
				function = "gpio";
			};

			config {
				pins = "gpio30";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		spi8_cs1_active: cs1_active {
			mux {
				pins = "gpio64";
				function = "blsp_spi8_cs1";
			};

			config {
				pins = "gpio64";
				drive-strength = <16>;
				bias-disable;
			};
		};

		spi8_cs1_sleep: cs1_sleep {
			mux {
				pins = "gpio64";
				function = "gpio";
			};

			config {
				pins = "gpio64";
				input-enable;
				bias-pull-down;
				drive-strength = <2>;
			};
		};
		spi_8_mosi_ack: spi_8_mosi_ack {
			mux {
				pins = "gpio28";
				function = "gpio";
			};

			config {
				pins = "gpio28";
				drive-strength = <2>;
				bias-disable;
				output-low;
			};
		};
		spi_8_miso_ack: spi_8_miso_ack {
			mux {
				pins = "gpio29";
				function = "gpio";
			};

			config {
				pins = "gpio29";
				drive-strength = <2>;
				bias-disable;
				input-enable;
			};
		};
	};

	muc_spi_ctrl: muc_spi_ctrl@0 {
		mux {
			pins = "gpio23", "gpio42", "gpio48";
			function = "gpio";
		};
		config {
			pins = "gpio23", "gpio42", "gpio48";
			bias-disable;
		};
	};

	anx_rst_active: anx_rst_active {
		mux {
			pins = "gpio56";
			function = "gpio";
		};
		config {
			pins = "gpio56";
			drive-strength = <2>; /* 2 mA */
			bias-disable; /* no pull */
		};
	};

	anx_rst_suspend: anx_rst_suspend {
		mux {
			pins = "gpio56";
			function = "gpio";
		};
		config {
			pins = "gpio56";
			drive-strength = <2>; /* 2 mA */
			bias-disable; /* no pull */
		};
	};

	anx_chip_pd_active: anx_chip_pd_active {
		mux {
			pins = "gpio55";
			function = "gpio";
		};
		config {
			pins = "gpio55";
			drive-strength = <2>; /* 2 mA */
			bias-disable; /* no pull */
		};
	};

	anx_chip_pd_suspend: anx_chip_pd_suspend {
		mux {
			pins = "gpio55";
			function = "gpio";
		};
		config {
			pins = "gpio55";
			drive-strength = <2>; /* 2 mA */
			bias-pull-up; /* pull up */
		};
	};

	anx_cbl_det_active: anx_cbl_det_active {
		mux {
			pins = "gpio44";
			function = "gpio";
		};
		config {
			pins = "gpio44";
			drive-strength = <2>; /* 2 mA */
			bias-disable; /* no pull */
		};
	};

	anx_irq_active: anx_irq_active {
		mux {
			pins = "gpio45";
			function = "gpio";
		};
		config {
			pins = "gpio45";
			drive-strength = <2>; /* 2 mA */
			bias-disable; /* no pull */
		};
	};

	muc_attach: muc_attach@0 {
		mux {
			pins = "gpio42";
			function = "gpio";
		};
		config {
			pins = "gpio42";
			bias-disable;
			drive-strength = <16>;
		};
	};

	muc_det: muc_det@0 {
		config {
			pins = "gpio43";
			bias-disable;
			drive-strength = <16>;
		};
	};

	/* WAKE_N, RDY_N */
	muc_spi_ctrl: muc_spi_ctrl@0 {
		config {
			pins = "gpio48", "gpio75";
			bias-disable;
		};
	};

	apba_default: apba_default@0 {
		apba_1p1_en {
			pins = "gpio39";
			drive-strength = <2>;
			bias-pull-down;
		};

		apba_bootret {
			pins = "gpio140";
			drive-strength = <2>;
			bias-pull-down;
		};

		apba_reset_n {
			pins = "gpio132";
			drive-strength = <2>;
			bias-pull-down;
		};

		apba_wake {
			pins = "gpio141";
			drive-strength = <2>;
			bias-pull-up;
		};

		apba_int_n {
			pins = "gpio49";
			drive-strength = <2>;
			bias-pull-up;
		};

		apba_sflash_en {
			pins = "gpio41";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	eb_chrg_conf {
		eb_vbus_conf: default {
			config {
				pins = "gpio72";
				function = "gpio";
				output-low;
				drive-strength = <2>;
				bias-disable;
			};
		};
		eb_vbus_active: active {
			config {
				pins = "gpio72";
				function = "gpio";
				output-low;
				drive-strength = <2>;
				bias-disable;
			};
		};
	};

	kungpow_default: kungpow_default {
		mux {
			pins = "gpio62";
			function = "gpio";
		};

		config {
			pins = "gpio62";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	usb_hs_sel: usb_hs_sel {
		config {
			pins = "gpio103";
			drive-strength = <2>;
			bias-pull-down;
			output-low;
		};
	};

	blsp_uart1_active: blsp_uart1_active {
		mux {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "blsp_uart1";
		};

		config {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			drive-strength = <16>;
			bias-disable;
		};
	};

	blsp_uart1_sleep: blsp_uart1_sleep {
		mux {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "gpio";
		};

		config {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			drive-strength = <2>;
			bias-disable;
		};
	};
};
