/* 
 * Copyright (c) 2016, Sharp Inc. All rights reserved.
 * Copyright (c) 2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "sharp_pinctrl/sharp-pinctrl-eve.dtsi"
#include "sharp-eve-display.dtsi"

/ {
};

&soc {
	/*****************************************/
	/*  BLSP#1                               */
	/*****************************************/

	/*****************************************/
	/*  BLSP#2(BLSP1_QUP2)                   */
	/*****************************************/
	i2c@78B6000 {
		status = "ok";
	};

	/*****************************************/
	/*  BLSP#3(BLSP1_QUP3)                   */
	/*****************************************/
	i2c@78B7000 {
		status = "ok";
		shtps_fts@38 {
			status = "ok";
			compatible = "sharp,shtps_fts";
			reg = <0x38>;
			interrupt-parent = <&msm_gpio>;
			interrupts = <65 0>;

			/* user defined property */
			shtps_fts,rst_pin = <&msm_gpio 64 0>;
		};
	};

	/*****************************************/
	/*  BLSP#4(BLSP1_QUP4)                   */
	/*****************************************/
	spi@78B8000 {
		status = "ok";
	};

	/*****************************************/
	/*  BLSP#5(BLSP2_QUP1)                   */
	/*****************************************/
	i2c@7AF5000 {
		status = "ok";
	};

	/*****************************************/
	/*  BLSP#5(BLSP2_LSUART1)                */
	/*****************************************/
	serial@7AEF000 {
		status = "disabled";
	};

	/*****************************************/
	/*  BLSP#6(BLSP2_QUP2)                   */
	/*****************************************/
	spi@7AF6000 {
		status = "ok";

		shdtv_spi@0 {
			status = "ok";
			compatible = "sharp,shdtv_spi";
			reg = <0>;
			spi-max-frequency = <20000000>;
/*			spi-cpol; */
/*			spi-cpha; */
		};
	};

	/*****************************************/
	/*  BLSP#7(BLSP2_QUP3)                   */
	/*****************************************/
	i2c@7AF7000 {
		status = "ok";
	};

	/*****************************************/
	/*  BLSP#8                               */
	/*****************************************/
	sound {
		compatible = "qcom,msm8952-audio-codec";
		qcom,model = "msm8952-eve-snd-card";
		qcom,msm-mbhc-hphl-swh = <1>;
		qcom,msm-hs-micbias-type = "external";
		qcom,audio-routing =
			"RX_BIAS", "MCLK",
			"SPK_RX_BIAS", "MCLK",
			"INT_LDO_H", "MCLK",
			"MIC BIAS External", "Handset Mic",
			"MIC BIAS External2", "Headset Mic",
			"MIC BIAS External", "Secondary Mic",
			"AMIC1", "MIC BIAS External",
			"AMIC2", "MIC BIAS External2",
			"AMIC3", "MIC BIAS External";
		qcom,msm-gpios =
			"pri_i2s";
		qcom,pinctrl-names =
			"all_off",
			"pri_i2s_act";
		pinctrl-names =
			"all_off",
			"pri_i2s_act";
		/delete-property/ qcom,msm-micbias1-ext-cap;
		/delete-property/ qcom,cdc-us-euro-gpios;
		pinctrl-0 = <&cdc_pdm_lines_sus &cdc_pdm_lines_2_sus>;
		pinctrl-1 = <&cdc_pdm_lines_act &cdc_pdm_lines_2_act>;
		/delete-property/ pinctrl-2;
		/delete-property/ pinctrl-3;
		/delete-property/ asoc-wsa-codec-names;
	};

	tunctrl {
		compatible = "tunctrl";
		qcom,dtv-en-gpio = <&msm_gpio 3 0x00>;
		qcom,spi-mosi-gpio = <&msm_gpio 20 0x00>;
		qcom,spi-miso-gpio = <&msm_gpio 21 0x00>;
		qcom,spi-csn-gpio = <&msm_gpio 22 0x00>;
		qcom,spi-clk-gpio = <&msm_gpio 23 0x00>;
	};
};
&pm8950_1 {
	pm8950_cajon_dig: 8952_wcd_codec@f000 {
		compatible = "qcom,msm8x16_wcd_codec";
		qcom,cdc-micbias-cfilt-mv = <2750000>;
	};
};
#include "sharp-eve-vib.dtsi"
#include "sharp-eve-pm8952.dtsi"
#include "sharp-eve-pmi8952.dtsi"
