CONFIG_LOCALVERSION=""
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_MMC_CMD_LOG=y
CONFIG_MMC_SDHCI_MSM_DEBUG=y
CONFIG_CGROUP_DEBUG=y
CONFIG_ARCH_WANTS_CTXSW_LOGGING=y
CONFIG_EDAC=y
CONFIG_EDAC_MM_EDAC=y
CONFIG_EDAC_CORTEX_ARM64=y
CONFIG_EDAC_CORTEX_ARM64_PANIC_ON_UE=y
# CONFIG_CORESIGHT_CTI_SAVE_DISABLE is not set
CONFIG_CP_ACCESS64=y
CONFIG_MSM_DEBUG_LAR_UNLOCK=y
CONFIG_MSM_DDR_HEALTH=y
CONFIG_MSM_COMMON_LOG=y
CONFIG_MSM_FORCE_WDOG_BITE_ON_PANIC=y
CONFIG_MSM_HVC=y
CONFIG_MSM_OCMEM_DEBUG=y
CONFIG_MSM_XPU_ERR_FATAL=y
CONFIG_MSM_CPUSS_DUMP=y
CONFIG_MSM_TZ_LOG=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_PANIC_ON_RT_THROTTLING=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=4000
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_LIST=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_MSM_RTB=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_ARM64_PTDUMP=y
CONFIG_PID_IN_CONTEXTIDR=y
CONFIG_DEBUG_SET_MODULE_RONX=y
CONFIG_KERNEL_TEXT_RDONLY=y
CONFIG_IKCONFIG_PROC=y
CONFIG_DO_EXIT_WDOG_TIMEOUT=600
CONFIG_GENERIC_IRQ_SHOW_WAKEUP_COUNT=y
CONFIG_LOCKUP_IPI_CALL_WDT=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_PM_DEBUG=y
CONFIG_PM_SLEEP_DEBUG=y
# CONFIG_MODULE_WHITELIST is not set
CONFIG_MSM_IPA_PANIC_ON_TIMEOUT=y
CONFIG_DEVMEM=y
CONFIG_DEVKMEM=y
CONFIG_DEBUG_IRQ_TIME=y
