#heart-specific configs
CONFIG_FLAY_DTB=y
CONFIG_ARCH_SDM636=y
CONFIG_MFD_CS47L35=y
CONFIG_SND_SOC_CS47L35=y
CONFIG_SND_SOC_CS35L36=y
# CONFIG_SND_SOC_CS35L36_TRIMMED is not set
CONFIG_GPIO_MADERA=y
CONFIG_MMC_FFU=y
CONFIG_SENSORS=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_MMI is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C_MMI is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_MMI is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_MMI is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING_MMI is not set
CONFIG_TOUCHSCREEN_FOCALTECH_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_CORE_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_8716_MMI=y
# CONFIG_TOUCHSCREEN_SIW_MMI is not set
# CONFIG_TOUCHSCREEN_SIW_MMI_SW49106 is not set
# CONFIG_TOUCHSCREEN_SIW_MMI_MON is not set
# CONFIG_REGULATOR_MADERA_MICSUPP is not set
# CONFIG_MFD_MADERA is not set
# CONFIG_MFD_MADERA_SPI is not set
# CONFIG_SWITCH_GPIO=y
# CONFIG_SWITCH_MADERA is not set
# CONFIG_SND_SOC_MADERA is not set
# ONFIG_SND_SOC_MADERA_SLIMBUS is not set

# CONFIG_INPUT_STMVL53L0 is not set
# CONFIG_SENSORS_FPC_1020 is not set
CONFIG_INPUT_EGISTEC_FPS=y
CONFIG_CHARGER_WLS_P922X=y
CONFIG_SND_SOC_TAS2560=y
CONFIG_TAS2560_REGMAP=y
CONFIG_TAS2560_CODEC=y
CONFIG_TAS2560_MISC=y
CONFIG_TOUCHSCREEN_NT36xxx=y
# CONFIG_INPUT_SX9310 is not set
CONFIG_INPUT_SX9310_TRIPLE=y
