#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_AUTO_ZRELADDR=y
CONFIG_ARM_DECOMPRESSOR_LIMIT=0x3200000
# CONFIG_TOUCHSCREEN_FT5X06 is not set
# CONFIG_TOUCHSCREEN_GT9XX_v28 is not set
# CONFIG_TOUCHSCREEN_GT9XX_UPDATE is not set
# CONFIG_TOUCHSCREEN_EKTF3XXX_CHIPSET is not set
# CONFIG_TOUCHSCREEN_GT9XX_TOOL is not set

# CONFIG_QCA402X is not set
