#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#
CONFIG_ALI_DTB=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y
CONFIG_PSTORE_PMSG=y
CONFIG_TOUCHSCREEN_FOCALTECH_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_CORE_MMI=y
CONFIG_REGMAP_IRQ=y
CONFIG_CAPSENSE_CYPRESS=y
CONFIG_SENSORS_FPC_1020=y
CONFIG_SENSORS=y
CONFIG_DIAG_OVER_TTY=y
CONFIG_USB_ANDROID_USBNET=y
CONFIG_USB_CONFIGFS_F_MIDI=y
