# Begin IKZUIPRC-6 miaoyu4 AccurateDataStats: find the owner of the packet
CONFIG_NETFILTER_XT_MATCH_QTAGUID_EXT=y
# End IKZUIPRC-6 miaoyu4 AccurateDataStats
# IKZUIPRC-5 yangwj12 tlv module
CONFIG_NETFILTER_XT_MATCH_TLV=y
CONFIG_MFD_CS47L35=y
CONFIG_SND_SOC_CS47L35=y
CONFIG_SND_SOC_CS35L35=y
CONFIG_GPIO_MADERA=y
