#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
    "CONFIG_BLANC_DTB":"y",
    "CONFIG_CCI_DEBUG_INTF":"y",
    "CONFIG_MOT_DRV_AF_NOISE_ELIMINATION":"y",
    "CONFIG_CAM_SENSOR_PROBE_DEBUG":"y",
    "CONFIG_MOT_DRV_OIS_EARLY_UPGRADE_FW":"y",
    "CONFIG_MOT_DRV_OIS_DEINIT":"y",
    "CONFIG_MOT_DRV_OIS_AF_USE_SAME_IC":"n",
    "CONFIG_MOT_DRV_OIS_DRIVER":"y",
    "CONFIG_MOT_DRV_OIS_DW9784_DRIVER":"y",
    "CONFIG_MOT_DRV_OIS_SEM1218S_DRIVER":"n",
    "CONFIG_MOT_DRV_OIS_AF_DRIFT":"n",
    "CONFIG_MOT_DRV_DONGWOON_OIS_AF_DRIFT":"y",
    "CONFIG_MOT_DRV_OIS_AFTER_SALES_SERVICE":"n",
    "CONFIG_MOT_DRV_OIS_MODIFY_VDDIO":"y",
    "CONFIG_MOT_STABILITY_FIXES":"y",
    "CONFIG_UFSFEATURE": "y",
    "CONFIG_UFS_JEDEC_HID":"y",
    "CONFIG_THP_FOLD":"y",
