# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
    "CONFIG_MMI_DEVICE_DTBS":"y",
    "CONFIG_HYBRIDSWAP_ZRAM":"m",
    "CONFIG_HYBRIDSWAP":"y",
    "CONFIG_HYBRIDSWAP_SWAPD":"y",
    "CONFIG_HYBRIDSWAP_CORE":"y",
    "CONFIG_MOTO_SWAP_KERNEL_FLAG":"y",
    "CONFIG_SCHED_MOTO_UNFAIR":"m",
    "CONFIG_MOTO_MUTEX_INHERIT":"y",
    "CONFIG_MOTO_RWSEM_INHERIT":"y",
    "CONFIG_MOTO_ENABLE_MDPF":"y",
