#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
    "CONFIG_AVR_DTB":"y",
    "CONFIG_CCI_DEBUG_INTF":"y",
    "CONFIG_RICHTAP_FOR_PMIC_ENABLE":"y",
    "CONFIG_CAM_SENSOR_PROBE_DEBUG":"y",
    "CONFIG_SCHED_WALT_MIDPOINT":"m",
    "CONFIG_QTI_PAGE_COMPRESSION_ENGINE":"n",
    "CONFIG_MOT_PON_LOG":"y",
    "CONFIG_TOUCHCLASS_MMI_FORCE_ENABLE_GESTURES":"y",
    "CONFIG_CAPSENSE_USB_CAL":"y",
    "CONFIG_USE_POWER_SUPPLY_ONLINE":"y",
