CONFIG_LOCALVERSION="-eng"
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DO_EXIT_WDOG_TIMEOUT=600
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_LOCKUP_IPI_CALL_WDT=y
CONFIG_WORKQUEUE_LEAK_PANIC=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_SCSI_LOGGING=y
CONFIG_CORESIGHT_ETM_DEFAULT_ENABLE=y
CONFIG_IKCONFIG_PROC=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_FUSE=y
CONFIG_CORESIGHT_TMC=y
CONFIG_CORESIGHT_TPIU=y
CONFIG_CORESIGHT_FUNNEL=y
CONFIG_CORESIGHT_REPLICATOR=y
CONFIG_CORESIGHT_STM=y
CONFIG_CORESIGHT_HWEVENT=y
CONFIG_CORESIGHT_ETM=y
CONFIG_CORESIGHT_AUDIO_ETM=y
CONFIG_CORESIGHT_MODEM_ETM=y
CONFIG_CORESIGHT_WCN_ETM=y
CONFIG_CORESIGHT_RPM_ETM=y
CONFIG_CORESIGHT_EVENT=m
CONFIG_SCHEDSTATS=y
CONFIG_DEBUG_GPIO=y
CONFIG_DEBUG_LIST=y
CONFIG_CGROUP_DEBUG=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_MSM_RTB=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y
CONFIG_INPUT_EVBUG=m
CONFIG_SPI_SPIDEV=m
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_MMC_TEST=m
CONFIG_MMC_BLOCK_TEST=m
CONFIG_MMC_CMD_LOG=y
CONFIG_MOBICORE_SUPPORT=m
CONFIG_MOBICORE_API=m
CONFIG_MSM_RPM_RBCPR_STATS_V2_LOG=y
CONFIG_SCSI_LOGGING=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_MSM_RESET_MODEM=m
CONFIG_MSM_DMA_TEST=m
CONFIG_MSM_BUSPM_DEV=m
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_CC_STACKPROTECTOR=y
CONFIG_PM_DEBUG=y
