CONFIG_CGROUP_DEBUG=y
CONFIG_SLUB_DEBUG=y
CONFIG_SLABINFO=y
# CONFIG_MUTEX_SPIN_ON_OWNER is not set
CONFIG_HDCP_QSEECOM=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SERIAL_MSM_HSL=y
CONFIG_SERIAL_MSM_HSL_CONSOLE=y
CONFIG_MSM_BUSPM_DEV=m
CONFIG_MSM_DDR_HEALTH=y
CONFIG_MSM_OCMEM_DEBUG=y
CONFIG_MSM_OCMEM_NONSECURE=y
CONFIG_MSM_OCMEM_POWER_DEBUG is not set
CONFIG_MSM_OCMEM_DEBUG_ALWAYS_ON is not set
CONFIG_MSM_CPUSS_DUMP=y
CONFIG_MSM_COMMON_LOG=y
CONFIG_MSM_FORCE_WDOG_BITE_ON_PANIC=y
# CONFIG_CORESIGHT_CTI_SAVE_DISABLE is not set
# CONFIG_CORESIGHT_ETMV4_DEFAULT_RESET is not set
# CONFIG_CORESIGHT_ETMV4_DEFAULT_ENABLE is not set
CONFIG_CORESIGHT_AUDIO_ETM=y
CONFIG_CORESIGHT_MODEM_ETM=y
CONFIG_CORESIGHT_WCN_ETM=y
CONFIG_CORESIGHT_RPM_ETM=y
CONFIG_MSM_TZ_LOG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MAGIC_SYSRQ_DEFAULT_ENABLE=0x1
CONFIG_DEBUG_PAGEALLOC=y
# CONFIG_SLUB_DEBUG_PANIC_ON is not set
CONFIG_WANT_PAGE_DEBUG_FLAGS=y
CONFIG_PAGE_POISONING=y
CONFIG_DEBUG_OBJECTS=y
# CONFIG_DEBUG_OBJECTS_SELFTEST is not set
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_OBJECTS_ENABLE_DEFAULT=1
# CONFIG_SLUB_DEBUG_ON is not set
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=40000
# CONFIG_DEBUG_KMEMLEAK_TEST is not set
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_HARDLOCKUP_DETECTOR_OTHER_CPU=y
CONFIG_HARDLOCKUP_DETECTOR=y
# CONFIG_BOOTPARAM_HARDLOCKUP_PANIC is not set
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC_VALUE=0
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=1
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_SPINLOCK_BITE_ON_BUG=y
# CONFIG_DEBUG_SPINLOCK_PANIC_ON_BUG is not set
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
# CONFIG_DEBUG_KOBJECT_RELEASE is not set
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_DEBUG_LIST=y
CONFIG_FAULT_INJECTION=y
# CONFIG_FAILSLAB is not set
CONFIG_FAIL_PAGE_ALLOC=y
# CONFIG_FAIL_MAKE_REQUEST is not set
# CONFIG_FAIL_IO_TIMEOUT is not set
# CONFIG_FAIL_MMC_REQUEST is not set
# CONFIG_UFS_FAULT_INJECTION is not set
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_MSM_RTB=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_FORCE_PAGES=y
CONFIG_FREE_PAGES_RDONLY=y
# CONFIG_KERNEL_TEXT_RDONLY is not set
CONFIG_LSM_MMAP_MIN_ADDR=4096
# CONFIG_DETECT_HUNG_TASK is not set
CONFIG_TOUCHSCREEN_GEN_VKEYS=y
CONFIG_COREDUMP=y
CONFIG_COREDUMP_GZ=y
CONFIG_COREDUMP_PERMISSION_HACK=y
CONFIG_DEVMEM=y
CONFIG_DEVKMEM=y
CONFIG_GPIO_QPNP_PIN_DEBUG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_MSM_WATCHDOG_CTX_PRINT=y
CONFIG_MSM_TZ_LOG=y
CONFIG_MSM_TZ_LOG_WDOG_DUMP=y
CONFIG_SUSPEND_WATCHDOG=y
CONFIG_FB_MSM_MDSS_XLOG_DEBUG=y
CONFIG_FB_MSM_MDSS_XLOG_MMI=y
CONFIG_DEBUG_VMAP_ALLOC_FAIL=y
