CONFIG_LOCALVERSION="-eng"
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DO_EXIT_WDOG_TIMEOUT=300
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_LOCKUP_IPI_CALL_WDT=y
CONFIG_WORKQUEUE_LEAK_PANIC=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_SCSI_LOGGING=y
CONFIG_CORESIGHT_ETM_DEFAULT_ENABLE=y
CONFIG_IKCONFIG_PROC=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_FUSE=y
CONFIG_CORESIGHT_TMC=y
CONFIG_CORESIGHT_TPIU=y
CONFIG_CORESIGHT_FUNNEL=y
CONFIG_CORESIGHT_REPLICATOR=y
CONFIG_CORESIGHT_STM=y
CONFIG_CORESIGHT_HWEVENT=y
CONFIG_CORESIGHT_ETM=y
CONFIG_CORESIGHT_ETM_PCSAVE_DEFAULT_ENABLE=y
CONFIG_CORESIGHT_EVENT=y
CONFIG_CC_STACKPROTECTOR=y
