CONFIG_LOCALVERSION="-eng"
# CONFIG_ENABLE_MEMKILL_TRACER is not set
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_TOUCHSCREEN_DEBUG=y
CONFIG_PM_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_SCHED_DEBUG=y
CONFIG_SCHEDSTATS=y
CONFIG_MMC_CMD_LOG=y
CONFIG_DEBUG_GPIO=y
CONFIG_DEBUG_LIST=y
CONFIG_CGROUP_DEBUG=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_MSM_TZ_LOG=y
CONFIG_MSM_RPM_LOG=y
CONFIG_MSM_RPM_STATS_LOG=y
CONFIG_MSM_RPM_RBCPR_STATS_LOG=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_CPU_FREQ_SWITCH_PROFILER=y
CONFIG_MSM_RTB=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y
CONFIG_INPUT_EVBUG=m
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_SPI_SPIDEV=m
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_MMC_TEST=m
CONFIG_MOBICORE_SUPPORT=m
CONFIG_MOBICORE_API=m
CONFIG_CORESIGHT_EVENT=m
CONFIG_LOCKUP_DETECTOR=y
CONFIG_LOCKUP_IPI_CALL_WDT=y
CONFIG_MSM_RESET_MODEM=m
CONFIG_MSM_DMA_TEST=m
CONFIG_MSM_BUSPM_DEV=m
CONFIG_SCSI_LOGGING=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_TPIU=y
CONFIG_CORESIGHT_ETB=y
CONFIG_CORESIGHT_FUNNEL=y
CONFIG_CORESIGHT_ETM=y
CONFIG_CORESIGHT_ETM_DEFAULT_ENABLE=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_PID_IN_CONTEXTIDR=y
