CONFIG_LOCALVERSION="-eng"
# CONFIG_ENABLE_MEMKILL_TRACER is not set
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_TOUCHSCREEN_DEBUG=y
CONFIG_PM_DEBUG=y
CONFIG_ANDROID_DEBUG_FD_LEAK=y
CONFIG_ANDROID_BIG_FD=896
CONFIG_SLUB_DEBUG_ON=y
CONFIG_SCHED_DEBUG=y
CONFIG_SCHEDSTATS=y
CONFIG_MMC_CMD_LOG=y
CONFIG_DEBUG_GPIO=y
CONFIG_DEBUG_LIST=y
CONFIG_CGROUP_DEBUG=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_PAGEALLOC=y
