# mot8937 configs
CONFIG_ARCH_MSM8917=y
CONFIG_ARCH_MSM8920=y
CONFIG_PINCTRL_MSM8917=y
CONFIG_ARM_KERNMEM_PERMS=y
CONFIG_MSM_RMNET_BAM=y
# CONFIG_MSM_ISPIF is not set
CONFIG_MSM_ISPIF_V2=y
CONFIG_MSM_INRUSH_CURRENT_MITIGATION=y
# CONFIG_MSM_PERFORMANCE_HOTPLUG_ON is not set
CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_IP6_NF_MATCH_RPFILTER=y
# CONFIG_DM_UEVENT is not set
# CONFIG_QPNP_TYPEC is not set
# CONFIG_APSS_CORE_EA is not set
# CONFIG_REGULATOR_MSM_GFX_LDO is not set
# CONFIG_REGULATOR_CPR4_APSS is not set
# CONFIG_MSM_SDE_ROTATOR is not set
# CONFIG_FB_MSM_MDSS_HDMI_PANEL is not set
# CONFIG_MSM_TZ_SMMU is not set
CONFIG_BW_MONITOR=y
