# cedric configs
# CONFIG_SENSORS_MOTOSH is not set
# CONFIG_SENSORS_MOTOSH_HEADSET is not set
CONFIG_SENSORS_STML0XX=y
CONFIG_SENSORS_SH_AK09912=y
# CONFIG_QPNP_SMBCHARGER is not set
# CONFIG_QPNP_SMBCHARGER_MMI is not set
CONFIG_QPNP_SMBCHARGER_MMI_LITE=y
# CONFIG_MSM_ISPIF is not set
CONFIG_MSM_ISPIF_V2=y
# CONFIG_GPIO_ARIZONA is not set
# CONFIG_MFD_ARIZONA is not set
# CONFIG_MFD_ARIZONA_SPI is not set
# CONFIG_REGULATOR_ARIZONA is not set
# CONFIG_SND_SOC_ARIZONA_M is not set
# CONFIG_MFD_MARLEY is not set
# CONFIG_SND_SOC_MARLEY is not
# CONFIG_SND_SOC_CS35L34 is not set
# CONFIG_SND_SOC_OPALUM is not set
# CONFIG_MODS_CODEC_BUS is not set
# CONFIG_SND_SOC_MODS_CODEC_SHIM is not set
CONFIG_INPUT_SX9310=y
CONFIG_MSM_RMNET_BAM=y
