#aljeter only config#
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_INTERRUPTION_PREVENT=y
CONFIG_TOUCHSCREEN_ILITEK_CHIPSET=y
CONFIG_TOUCHSCREEN_ILI9881H=y
CONFIG_TOUCHSCREEN_FOCALTECH_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_CORE_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_8006M_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_8006U_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_8006S_MMI=y
