# Android Go Configuration
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_HAVE_MEMBLOCK=y

# cut kernel code/heap size
# CONFIG_TRACEPOINTS is not set
# CONFIG_RCU_CPU_STALL_VERBOSE is not set
# CONFIG_RMNET_DATA_DEBUG_PKT is not set
# CONFIG_MSM_SMD_DEBUG is not set
# CONFIG_BLK_DEV_LOOP is not set
# CONFIG_CMA_DEBUGFS is not set
# CONFIG_HAVE_DEBUG_KMEMLEAK is not set
