#
# Please avoid changing the Qualcomm defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_MMI_DEVICE_DTBS=y
CONFIG_HAPTIC_DRV2605=y
CONFIG_SND_SOC_FSA8500=y
#CONFIG_MOBICORE_DRIVER is not set
CONFIG_MTD=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y
CONFIG_MTD_MSM_NAND=n
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_OF_PARTS=y
# CONFIG_MODULE_SIG is not set
# CONFIG_MODULE_SIG_FORCE is not set
# CONFIG_MODULE_SIG_SHA512 is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_MMI=y
CONFIG_TOUCHSCREEN_ATMEL_MXT_MMI=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v21 is not set

CONFIG_GPIO_ARIZONA=y
CONFIG_MFD_ARIZONA=y
CONFIG_MFD_ARIZONA_SPI=y
CONFIG_REGULATOR_ARIZONA=y
CONFIG_SND_SOC_ARIZONA=y
CONFIG_MFD_FLORIDA=y
CONFIG_SND_SOC_FLORIDA=y
CONFIG_MFD_CORE=y
CONFIG_PN544=y
CONFIG_MOT_UTAG=y
CONFIG_SENSORS_LM75=y
CONFIG_SENSORS_MOTOSH=y
CONFIG_FB_MSM_MDSS_XLOG_DEBUG=n
CONFIG_BOOTINFO=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y
CONFIG_LEDS_ISL98611=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_MMI_UNIT_INFO=y
CONFIG_FUSB302=y
CONFIG_MMI_SOC_INFO=y
CONFIG_MMI_RAM_INFO=y
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_LOCKUP_IPI_CALL_WDT=y
CONFIG_ANDROID_LMK_ADJ_RBTREE=y
CONFIG_MODS_USB_EXT_BRIDGE=y
# networking related
CONFIG_NETFILTER_XT_MATCH_TCPMSS=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_MROUTE=y
CONFIG_IP_PIMSM_V2=y
CONFIG_INET_LRO=y
CONFIG_XFRM_SUB_POLICY=y
CONFIG_XFRM_MIGRATE=y
CONFIG_NET_KEY_MIGRATE=y
CONFIG_INET_XFRM_MODE_BEET=y
CONFIG_PANIC_ON_RT_THROTTLING=y
CONFIG_EARLY_PRINTK=y
CONFIG_MODS_CODEC_BUS=y
CONFIG_SND_SOC_MODS_CODEC_SHIM=y
CONFIG_BATTERY_MAX17042=y
CONFIG_ESD_FS=y
CONFIG_CHARGER_FAN54100=y
CONFIG_STMVL53L0=y
CONFIG_SENSORS_FPC_1020=y
CONFIG_MDSS_DSI_MOD_DISPLAY=y
CONFIG_SLIMPORT_ANX7816_MOD_DISPLAY=y
CONFIG_EXFAT_FS=y
CONFIG_ALSA_TO_H2W=y
CONFIG_MMI_SYS_TEMP=y
CONFIG_SUSPEND_TIME_TIMEKEEPING=y
CONFIG_HD3SS460_MUX=y
CONFIG_USB3813=y
CONFIG_DRM_ANX78XX=n
CONFIG_SLIMPORT_DYNAMIC_HPD=y
CONFIG_SLIMPORT_ANX7816=y
CONFIG_SLIMPORT_COMMON=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MODS_MODBUS_EXT=y
CONFIG_FRAME_WARN=2048
