CONFIG_ARCH_SDM450=y
# ali-specific configs
CONFIG_ALI_DTB=y
# CONFIG_SENSORS_MOTOSH is not set
# CONFIG_SENSORS_MOTOSH_HEADSET is not set
CONFIG_SENSORS=y
# CONFIG_INPUT_SX9310 is not set
CONFIG_CAPSENSE_CYPRESS=y
# CONFIG_SND_SOC_CS35L34 is not set
CONFIG_SND_SOC_CS35L35=y
# CONFIG_MODS_CODEC_BUS is not set
# CONFIG_SND_SOC_MODS_CODEC_SHIM is not set

# CONFIG_TOUCHSCREEN_FT5X06 is not set
CONFIG_TOUCHSCREEN_FOCALTECH_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_CORE_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_MMI=y
CONFIG_TOUCHSCREEN_FOCALTECH_UPGRADE_5X46_MMI=y

# CONFIG_SENSORS_FPC_1020 is not set
CONFIG_SENSORS_FPC_PLATFORM_1020=y
# CONFIG_TPS61280 is not set

# CONFIG_HD3SS460_MUX is not set
# CONFIG_USB3813 is not set
# CONFIG_MODS_MODBUS_EXT is not set
# CONFIG_HID_MOTOROLA_MODS is not set
# CONFIG_MODS_USB_EXT_BRIDGE is not set
# CONFIG_MOD_DISPLAY is not set

# CONFIG_HAPTIC_DRV2605 is not set
CONFIG_SDCARD_FS_PARTIAL_RELATIME=y
CONFIG_SDCARD_FS_DIR_WRITER=y
