CONFIG_MMI_SAR=y
CONFIG_CFG80211_INTERNAL_REGDB=n
CONFIG_BCMDHD=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BCM4356=y
CONFIG_DHD_USE_STATIC_BUF=y
CONFIG_BCMDHD_FW_PATH="/vendor/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/etc/wifi/bcmdhd.cal"
CONFIG_DHD_USE_SCHED_SCAN=y
CONFIG_DHD_SET_RANDOM_MAC_VAL=0x9068C3
CONFIG_BT_MSM_SLEEP=y
CONFIG_MSMB_CAMERA=n
CONFIG_MSMB_JPEG=n
CONFIG_MSM_CAMERA_SENSOR=n
CONFIG_MSM_CPP=n
CONFIG_MSM_CCI=n
CONFIG_MSM_CSI31_HEADER=n
CONFIG_MSM_CSIPHY=n
CONFIG_MSM_CSID=n
CONFIG_MSM_EEPROM=n
CONFIG_MSM_ISPIF=n
CONFIG_LEDS_LM3646=n
CONFIG_MSMB_CAMERA_SHAMU_T=y
CONFIG_MSMB_JPEG_SHAMU_T=y
CONFIG_MSM_CAMERA_SENSOR_SHAMU_T=y
CONFIG_MSM_CPP_SHAMU_T=y
CONFIG_MSM_CCI_SHAMU_T=y
CONFIG_MSM_CSI31_HEADER_SHAMU_T=y
CONFIG_MSM_CSIPHY_SHAMU_T=y
CONFIG_MSM_CSID_SHAMU_T=y
CONFIG_MSM_EEPROM_SHAMU_T=y
CONFIG_MSM_ISPIF_SHAMU_T=y
CONFIG_LEDS_LM3646_SHAMU_T=y
