CONFIG_MMI_SAR=y
CONFIG_CFG80211_INTERNAL_REGDB=n
CONFIG_BCMDHD=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BCM4356=y
CONFIG_DHD_USE_STATIC_BUF=y
CONFIG_BCMDHD_FW_PATH="/vendor/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/etc/wifi/bcmdhd.cal"
CONFIG_DHD_USE_SCHED_SCAN=y
CONFIG_DHD_SET_RANDOM_MAC_VAL=0x9068C3
CONFIG_BT_MSM_SLEEP=y
