CONFIG_LOCALVERSION="-debug"
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_PM_DEBUG=y
CONFIG_SCHED_DEBUG=y
CONFIG_DEBUG_FS=y
CONFIG_MSM_TZ_LOG=y
CONFIG_MSM_RPM_LOG=y
CONFIG_MSM_RPM_STATS_LOG=y
CONFIG_MSM_RPM_RBCPR_STATS_LOG=y
CONFIG_MSM_RTB=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_LOCKUP_IPI_CALL_WDT=y
CONFIG_CORESIGHT_EVENT=m
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_TPIU=y
CONFIG_CORESIGHT_ETB=y
CONFIG_CORESIGHT_FUNNEL=y
CONFIG_CORESIGHT_ETM=y
CONFIG_CORESIGHT_ETM_DEFAULT_ENABLE=y
CONFIG_DYNAMIC_DEBUG=y
