/* Copyright (c) 2012, Code Aurora Forum. All rights reserved.
 * Copyright (c) 2013,2014 LGE Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "apq8026-dory.dtsi"

&soc {
	i2c@f9923000 {
		max17050@36 {
			maxim,full-soc = <100>;
			maxim,empty-soc = <4>;
		};
	};
	i2c@f9924000 {
		lis3dsh_acc@1e {
			lis,negate_x = <0>;
			lis,negate_y = <0>;
			lis,negate_z = <0>;
		};
		inv_dev@68 {
			inven,secondary_reg = <0x0c>;
		};
	};
	i2c@f9927000 {
		melfas_mms136@48 {
			status = "ok";
		};
	};
	vibrator {
		status = "disabled";
	};
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_lgd_nano_240_cmd>;
};

&pm8226_chg {
	qcom,vddmax-mv = <4200>;
	qcom,vddsafe-mv = <4230>;
	qcom,ibatmax-ma= <300>;
	qcom,ibatterm-ma = <50>;
	qcom,ibatsafe-ma = <300>;
	qcom,warm-bat-mv = <4100>;
	qcom,cool-bat-mv = <4100>;
	qcom,ibatmax-warm-ma = <150>;
	qcom,ibatmax-cool-ma = <150>;
};
