/* Copyright (c) 2012, Code Aurora Forum. All rights reserved.
 * Copyright (c) 2013, LGE Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "apq8026-dory.dtsi"

&soc {
	i2c@f9924000 {
		lis3dsh_acc@1e {
			lis,negate_x = <0>;
			lis,negate_y = <0>;
			lis,negate_z = <0>;
		};
	};
	i2c@f9927000 {
		melfas_mms136@48 {
			status = "ok";
		};
	};
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_lgd_nano_240_cmd>;
};
