config SENSORS_EM718X
	tristate "EM718x Sensor Hub"
	default n
	help
	  Say Y here if you have a EM Microelectronic 718x Sensor module, and
	  your board-specific initialization code includes that in its
	  table of devices.

	  If unsure, say N (but it's safe to say "Y").

	  To compile this driver as a module, choose M here: the
	  module will be called em718x.

config SENSORS_SENTRAL_IIO
	tristate "SENtral Sensor Hub (IIO)"
	default n
	help
	  This driver supports the SENtral Sensor Hub using IIO
	  This driver can be built as a module.
