/* Copyright (c) 2012, Code Aurora Forum. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "../msm8974-camera-sensor-cdp-mtp.dtsi"
/include/ "../msm8974-leds.dtsi"

/include/ "msm8974-lge-panel.dtsi"
/include/ "msm8974-lge-input.dtsi"
/include/ "msm8974-lge-hdmi.dtsi"
/include/ "msm8974-lge-usb.dtsi"
/include/ "msm8974-lge-misc.dtsi"
/include/ "msm8974-lge-pm.dtsi"

/ {
	serial@f991d000 {
		compatible = "qcom,msm-lsuart-v14";
		reg = <0xf991d000 0x1000>;
		interrupts = <0 107 0>;
		status = "disabled";
	};
};

&spmi_bus {
	qcom,pm8941@0 {
		qcom,power-on@800 {
			qcom,pon_2 {
				qcom,disable = <1>;
			};
		};
	};
};
