# SPDX-License-Identifier: GPL-2.0-only
#
# Input misc drivers configuration
#
if INPUT_MISC

config INPUT_PM8941_PWRKEY
	tristate "Qualcomm PM8941 power key support"
	depends on MFD_SPMI_PMIC
	help
	  Say Y here if you want support for the power key usually found
	  on boards using a Qualcomm PM8941 compatible PMIC.

	  If unsure, say Y.

	  To compile this driver as a module, choose M here: the module
	  will be called pm8941-pwrkey.

config INPUT_PM8XXX_VIBRATOR
	tristate "Qualcomm PM8XXX vibrator support"
	depends on MFD_PM8XXX || MFD_SPMI_PMIC
	select INPUT_FF_MEMLESS
	help
	  This option enables device driver support for the vibrator
	  on Qualcomm PM8xxx chip. This driver supports ff-memless interface
	  from input framework.

	  To compile this driver as module, choose M here: the
	  module will be called pm8xxx-vibrator.

config INPUT_QCOM_HV_HAPTICS
	tristate "QTI High Voltage Haptics support"
	depends on MFD_SPMI_PMIC
	help
	  This option enables device driver support for the high voltage haptics
	  peripheral found on Qualcomm Technologies, Inc. PMICs.  The high voltage
	  haptics peripheral is capable of driving either LRA or ERM vibrators with
	  drive voltage up to 10 V, and its 5 integrated pattern sources can be used
	  for playing different vibration effects. To compile this driver as a module,
	  choose M here: the module will be called qcom-hv-haptics.

config RICHTAP_FOR_PMIC_ENABLE
	bool "Decide whether need enable AAC moto driver"
	depends on INPUT_QCOM_HV_HAPTICS
	help
	  Say Y here if your device support AAC RichTap moto device.

endif
