config BOARD_HEADER_FILE
	string "LGE board specific header file name"
	default ""

config MACH_APQ8064_MAKO
	depends on ARCH_APQ8064
	select MACH_LGE
	bool "MSM8064 MAKO"
	help
	  Support for the LGE MAKO device.
