/* Copyright (c) 2015, LGE Inc. All rights reserved.
 * Copyright (c) 2013-2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "../qcom/msm8992-pinctrl.dtsi"

&soc {
	tlmm_pinmux: pinctrl@fd510000 {
		/* gpio pin mux for bluetooth enable pin */
		pmx_bt_enable {
			qcom,pins = <&gp 25>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
                        label = "pmx_bt_enable";
			bt_enable_active: bt_enable_active {
				drive-strength = <6>;
				bias-disable;
			};
			bt_enable_suspend: bt_enable_suspend {
				drive-strength = <2>;
				bias-disable;
			};
		};

		/* gpio pin mux for bluetooth host wake pin */
		pmx_bt_host_wake {
			qcom,pins = <&gp 95>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "pmx_bt_host_wake";
			bt_host_wake_active: bt_host_wake_active {
				drive-strength = <2>;
				bias-disable = <0>;
			};
			bt_host_wake_suspend: bt_host_wake_suspend {
				drive-strength = <2>;
				bias-disable = <0>;
			};
		};

		/* gpio pin mux for bluetooth ext wake pin */
		pmx_bt_ext_wake {
			qcom,pins = <&gp 105>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "pmx_bt_ext_wake";
			bt_ext_wake_active: bt_ext_wake_active {
				drive-strength = <2>;
				bias-disable = <0>;
			};
			bt_ext_wake_suspend: bt_ext_wake_suspend {
				drive-strength = <2>;
				bias-disable = <0>;
			};
		};

		pmx_mdss: pmx_mdss {
			label = "mdss-pins";
			qcom,pin-func = <0>;
			mdss_dsi_active: active {
				drive-strength = <8>; /* 8 mA */
				bias-disable;
			};
			mdss_dsi_suspend: suspend {
				drive-strength = <2>; /* 2 mA */
				bias-pull-down;
			};
		};

		pmx_mdss_te: pmx_mdss_te {
			qcom,pins = <&gp 10>;
			qcom,num-grp-pins = <1>;
		};

		pmx_wlan_enable {
			qcom,pins = <&gp 113>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "pmx_wlan_enable";
			/* default state */
			pmx_wlan_enable_default: default {
				drive-strength = <8>;
				bias-pull-down;
			};
		};

		pmx_wlan_hostwake {
			qcom,pins = <&gp 64>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "pmx_wlan_hostwake";
			/* default state */
			pmx_wlan_hostwake_default: default {
				drive-strength = <8>;
				bias-pull-down;
				input-debounce = <0>;
			};
		};

		pmx_i2c_9 {
			qcom,pins = <&gp 51>, <&gp 52>; /* SDA, SCL */
			qcom,num-grp-pins = <2>;
			qcom,pin-func = <4>;
			label = "pmx_i2c_9";

			i2c_9_active: i2c_9_active {
				drive-strength = <2>;
				bias-disable;
			};

			i2c_9_sleep: i2c_9_sleep {
				drive-strength = <2>;
				bias-disable;
			};
		};

		pmx_rd_nfc_int{
			nfc_int_active: active {
				bias-disable;
			};

			nfc_int_suspend: suspend {
				bias-disable;
			};
		};

		pmx_nfc_reset{
			nfc_disable_active: active {
				bias-disable;
			};
		};

		pmx_nfc_mode{
			qcom,pins = <&gp 39>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <1>;
			label = "pmx_nfc_mode";

			nfc_mode_active: active {
				drive-strength = <6>;
				bias-disable;
			};

			nfc_mode_suspend: suspend {
				drive-strength = <6>;
				 bias-disable;
			};
		};

		spi7_active {
			/* MOSI, MISO, CLK */
			qcom,pins = <&gp 41>, <&gp 42>, <&gp 44>;
			qcom,num-grp-pins = <3>;
			qcom,pin-func = <1>;
			label = "spi7-active";
			/* active state */
			spi7_default: default {
				drive-strength = <12>; /* 12 MA */
				bias-disable = <0>; /* No PULL */
			};
		};

		spi7_suspend {
			/* MOSI, MISO, CLK */
			qcom,pins = <&gp 41>, <&gp 42>, <&gp 44>;
			qcom,num-grp-pins = <3>;
			qcom,pin-func = <0>;
			label = "spi7-suspend";
			/* suspended state */
			spi7_sleep: sleep {
				drive-strength = <2>; /* 2 MA */
				bias-pull-down; /* pull down */
			};
		};

		spi7_cs_active {
			/* CS */
			qcom,pins = <&gp 43>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <1>;
			label = "spi7-cs-active";
			spi7_cs_active: cs_active {
				drive-strength = <2>;
				bias-disable = <0>;
			};
		};

		spi7_cs_suspend {
			/* CS */
			qcom,pins = <&gp 43>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "spi7-cs-suspend";
			spi7_cs_sleep: cs_sleep {
				drive-strength = <2>;
				bias-disable = <0>;
			};
		};

		pmx_ts_reset {
			qcom,pins = <&gp 8>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <1>;
			label = "pmx_ts_reset_active";

			ts_reset_active: ts_reset_active {
				drive-strength = <6>;
				bias-pull-up;
			};

			ts_reset_suspend: ts_reset_suspend {
				drive-strength = <6>;
				bias-pull-down;
			};
		};

		pmx_ts_int {
			qcom,pins = <&gp 22>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <1>;
			label = "pmx_ts_int_active";

			ts_int_active: ts_int_active {
				drive-strength = <2>;
				bias-disable;
			};

			ts_int_suspend: ts_int_suspend {
				drive-strength = <2>;
				bias-disable;
			};
		};

		pmx_spi_fpc_active {
			qcom,pins =  <&gp 53>, <&gp 54>, <&gp 55>, <&gp 56>;
			qcom,num-grp-pins = <4>;
			qcom,pin-func = <2>;
			label = "pmx_spi_fpc_active";
			spi_fpc_active: spi_fpc_active {
				drive-strength = <2>; /* 2MA */
				bias-disable;
			};
		};

		pmx_spi_fpc_suspend {
			qcom,pins =  <&gp 53>, <&gp 54>, <&gp 55>, <&gp 56>;
			qcom,num-grp-pins = <4>;
			qcom,pin-func = <0>;
			label = "pmx_spi_fpc_suspend";
			spi_fpc_suspend: spi_fpc_suspend {
				drive-strength = <2>; /* 2MA */
				bias-pull-down;
			};
		};

		pmx_fpc_ctrl {
			qcom,pins = <&gp 62>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "pmx_fpc_ctrl";
			fpc_ctrl: fpc_ctrl {
				drive-strength = <2>; /* 2MA */
				bias-pull-up;
			};
		};

		pmx_fpc_int {
			qcom,pins = <&gp 61>;
			qcom,num-grp-pins = <1>;
			qcom,pin-func = <0>;
			label = "pmx_fpc_int";
			fpc_int: fpc_int {
				drive-strength = <2>; /* 2MA */
				bias-pull-down;
			};
		};

		hallic_gpio {
			qcom,pins = <&gp 75>;
			qcom,pin-func = <0>;
			qcom,num-grp-pins = <1>;
			label = "hallic_gpio";
			hallic_gpio_active: hallic_gpio_active {
						drive-strength = <2>;
						bias-pull-up;
			};
			hallic_gpio_suspend: hallic_gpio_suspend {
						drive-strength = <2>;
						bias-pull-up;
			};
		};
	};
};
