/* Copyright (c) 2015, LGE Inc. All rights reserved.
 * Copyright (c) 2014, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&spmi_bus {
	qcom,pm8994@0 {
		qcom,power-on@800 {
			interrupts = <0x0 0x8 0x0>,
					<0x0 0x8 0x1>,
					<0x0 0x8 0x3>,
					<0x0 0x8 0x4>,
					<0x0 0x8 0x5>;
			interrupt-names = "kpdpwr", "resin", "kpdpwr-bark",
					"resin-bark", "kpdpwr-resin-bark";
			qcom,s3-debounce = <16>;
			qcom,s3-src = "kpdpwr";
			qcom,store-hard-reset-reason;
			qcom,pon_1 { /* KPD_PWR_N reset */
				status = "ok";
				qcom,s1-timer = <6720>;
				qcom,s2-timer = <2000>;
				qcom,s2-type = <7>;
				qcom,use-bark;
			};
			qcom,pon_2 { /* RESIN_N reset   */
				status = "ok";
				qcom,support-reset = <0>;
			};
			qcom,pon_3 { /* KPD_PWR_N AND RESIN_N reset */
				status = "ok";
				qcom,support-reset = <0>;
			};
		};
	};

	qcom,pmi8994@2 {
		qcom,power-on@800 {
			qcom,s3-debounce = <16>;
			qcom,s3-src = "kpdpwr";
		};
	};
};

&pmi8994_charger {
	status = "ok";
	qcom,charge-unknown-battery;
	qcom,iterm-ma = <100>;
	qcom,fastchg-current-ma = <2400>;
	qcom,float-voltage-mv = <4350>;
	qcom,resume-delta-mv = <200>;
	qcom,charging-timeout-mins = <768>;
	qcom,parallel-usb-min-current-ma = <1000>;
	qcom,chg-vadc = <&pmi8994_vadc>;
	/delete-property/ qcom,dc-psy-type;
	qcom,usb-cc-controller;
	qcom,disable-apsd;
	qcom,disable-hvdcp;
};

/{
	bullhead_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <15>;
		#include "lge_blt19_byd_2700mAh_2022234_PMI8994GUI2165.dtsi"
		#include "lge_blt19_tocad_2700mAh_2022227_PMI8994GUI2165.dtsi"
	};
};

&pmi8994_fg {
	status = "ok";
	qcom,ext-sense-type;
	qcom,battery-data = <&bullhead_batterydata>;
	qcom,sw-rbias-control;
	qcom,resume-soc = <99>;
	qcom,fg-iterm-ma = <200>;
	qcom,fg-chg-iterm-ma = <100>;
	qcom,fg-cutoff-voltage-mv = <3400>;
	qcom,warm-bat-decidegc = <450>;
	qcom,hot-bat-decidegc = <550>;
	qcom,cool-bat-decidegc = <0>;
	qcom,cold-bat-decidegc = <(-100)>;
	qcom,vbat-estimate-diff-mv = <200>;
	qcom,thermal-coefficients = [D2 85 0E 4A A5 35];
};

&i2c_6 {
	status = "ok";
	smb1358-charger {
		status = "ok";
		compatible = "qcom,smb1358-charger";
		reg = <0x1c>;
		qcom,parallel-charger;
		qcom,iterm-ma = <100>;
		qcom,float-voltage-mv = <4460>;
		qcom,recharge-thresh-mv = <100>;
		qcom,charging-timeout-mins = <768>;
	};
};

&spmi_bus {
	qcom,pmi8994@3 {
		qcom,leds@d000 {
			qcom,rgb_0 {
				qcom,mode = "lpg";
				qcom,start-idx = <0>;
				qcom,idx-len = <24>;
				qcom,duty-pcts = [
					01 02 03 04 05 06 07 08
					09 0A 0B 0C 0D 0E 0F 10
					11 12 13 14 15 16 17 18];
				linux,default-trigger = "none";
			};

			qcom,rgb_1 {
				qcom,mode = "lpg";
				qcom,start-idx = <0>;
				qcom,idx-len = <24>;
				qcom,duty-pcts = [
					01 02 03 04 05 06 07 08
					09 0A 0B 0C 0D 0E 0F 10
					11 12 13 14 15 16 17 18];
				linux,default-trigger = "none";
			};

			qcom,rgb_2 {
				qcom,mode = "lpg";
				qcom,start-idx = <0>;
				qcom,idx-len = <24>;
				qcom,duty-pcts = [
					01 02 03 04 05 06 07 08
					09 0A 0B 0C 0D 0E 0F 10
					11 12 13 14 15 16 17 18];
				linux,default-trigger = "none";
			};
		};
	};
};
