config TOUCHSCREEN_R69001_I2C
	tristate "JDI R69001 touchscreen"
	depends on I2C
	default n
	help
		Say Y here if you have a R69001 touchscreen
		If unsure, say N.

source "drivers/external_drivers/drivers/input/touchscreen/rmi4/Kconfig"
