/dts-v1/;

/include/ "skeleton.dtsi"
/include/ "msm8960.dtsi"

/ {
	model = "Motorola MSM8960 Pro Sasquatch";
	compatible = "mmi,msm8960";

	mmi,product = "mmi,msm8960ab-sasquatch";
	mmi,revision = "p1";
};
