/* Copyright (c) 2013, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "msm8610-moto-reserve.dtsi"
/include/ "msm8610-v1.dtsi"
/include/ "msm8610-moto-common.dtsi"
/include/ "msm8610-otus-gpiomux.dtsi"
/include/ "dsi-panel-mot-boe-450-qHD-video.dtsi"

&mmi_factory {
	/delete-property/ gpios;
};

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&mot_boe_450_qhd_vid_v2>;
	lcd_vci-supply = <&pm8110_l19>;
	vddio_disp-supply = <&pm8110_l6>;
};

&pm8110_l19 {
	regulator-always-on;
	regulator-boot-on;
};

&pm8110_l6 {
	regulator-always-on;
	regulator-boot-on;
};

&mot_boe_450_qhd_vid_v2 {
	qcom,platform-supply-entry1 {
		qcom,supply-name = "lcd_vci";
		qcom,supply-min-voltage = <2850000>;
		qcom,supply-max-voltage = <2850000>;
		qcom,supply-enable-load = <300000>;
		qcom,supply-disable-load = <100>;
		qcom,supply-pre-on-sleep = <0>;
		qcom,supply-post-on-sleep = <0>;
		qcom,supply-pre-off-sleep = <0>;
		qcom,supply-post-off-sleep = <0>;
	};
	qcom,platform-supply-entry2 {
		qcom,supply-name = "vddio_disp";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <300000>;
		qcom,supply-disable-load = <100>;
		qcom,supply-pre-on-sleep = <0>;
		qcom,supply-post-on-sleep = <10>;
		qcom,supply-pre-off-sleep = <0>;
		qcom,supply-post-off-sleep = <1>;
	};
};

&mot_boe_450_qhd_vid_v1 {
	qcom,platform-supply-entry1 {
		qcom,supply-name = "lcd_vci";
		qcom,supply-min-voltage = <2850000>;
		qcom,supply-max-voltage = <2850000>;
		qcom,supply-enable-load = <300000>;
		qcom,supply-disable-load = <100>;
		qcom,supply-pre-on-sleep = <0>;
		qcom,supply-post-on-sleep = <0>;
		qcom,supply-pre-off-sleep = <0>;
		qcom,supply-post-off-sleep = <0>;
	};
	qcom,platform-supply-entry2 {
		qcom,supply-name = "vddio_disp";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <300000>;
		qcom,supply-disable-load = <100>;
		qcom,supply-pre-on-sleep = <0>;
		qcom,supply-post-on-sleep = <10>;
		qcom,supply-pre-off-sleep = <0>;
		qcom,supply-post-off-sleep = <1>;
	};
};

&mot_boe_450_qhd_vid_v0 {
	qcom,platform-supply-entry1 {
		qcom,supply-name = "lcd_vci";
		qcom,supply-min-voltage = <2850000>;
		qcom,supply-max-voltage = <2850000>;
		qcom,supply-enable-load = <300000>;
		qcom,supply-disable-load = <100>;
		qcom,supply-pre-on-sleep = <0>;
		qcom,supply-post-on-sleep = <0>;
		qcom,supply-pre-off-sleep = <0>;
		qcom,supply-post-off-sleep = <0>;
	};
	qcom,platform-supply-entry2 {
		qcom,supply-name = "vddio_disp";
		qcom,supply-min-voltage = <1800000>;
		qcom,supply-max-voltage = <1800000>;
		qcom,supply-enable-load = <300000>;
		qcom,supply-disable-load = <100>;
		qcom,supply-pre-on-sleep = <0>;
		qcom,supply-post-on-sleep = <10>;
		qcom,supply-pre-off-sleep = <0>;
		qcom,supply-post-off-sleep = <1>;
	};
};

&i2c_3 {
	status = "disabled";
};

&soc {
	i2c_2: i2c@f9924000 { /* BLSP-1 QUP-2 */
		cell-index = <2>;
		compatible = "qcom,i2c-qup";
		reg = <0xf9924000 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg-names = "qup_phys_addr";
		interrupts = <0 96 0>;
		interrupt-names = "qup_err_intr";
		qcom,i2c-bus-freq = <400000>;
		qcom,i2c-src-freq = <19200000>;
		qcom,sda-gpio = <&msmgpio 6 0>;
		qcom,scl-gpio = <&msmgpio 7 0>;
		qcom,noise-rjct-scl = <1>;
		qcom,noise-rjct-sda = <1>;
		qcom,master-id = <86>;

		bd65b60@64 {
			compatible = "rohm,bd65b60";
			reg = <0x64>;
			linux,name = "wled:backlight";
			linux,default-trigger = "bkl-trigger";
			rohm,led1-used;
		};
	};
};

&spmi_bus {
	qcom,pm8110@0 {
		qcom,leds@a200 {
			status = "disabled";
		};
	};
};
