/* Copyright (c) 2013, The Linux Foundation. All rights reserved.
 * Copyright (c) 2013 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "msm8226-moto-common.dtsi"
/include/ "dsi-panel-mot-cmi-720p-video.dtsi"

/ {
	model = "Motorola QC-MSM8226 Falcon";
	compatible = "qcom,msm8226-falcon",
		     "qcom,msm8226-moto",
		     "qcom,msm8226";

	qcom,mdss_dsi_mot_cmi_720p_video {
		status = "ok";
	};
};

&i2c_5 {
	cyttsp3_i2c@3b {
		status = "disabled";
	};
};

&mot_cmi_720p_vid {
	vddio_disp-supply = <&vddio_disp_vreg>;
	lcdbias-supply = <&tps65132>;
};
