/* Copyright (c) 2013 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
/include/ "msm8974-moto-reserve.dtsi"
/include/ "msm8974pro-ab-abbagoochie-common.dtsi"


/ {
	qcom,msm-id = <218 0x41 0x8200>;
};

&soc {
	qcom,msm-imem@fe805000 {
		compatible = "qcom,msm-imem";
		reg = <0xfc428000 0x1000>; /* Address and size of IMEM */
	};

	i2c_2: i2c@f9924000 {	/* Unused QUP on BLSP2 (BLSP1 QUP1) */
		status = "disabled";
	};

	ti,c55-ctrl {
		compatible = "ti,c55-ctrl";
		gpios = <&msmgpio 6 0>,         /* gpio_reset */
			<&msmgpio 61 2>;        /* gpio_c55_int */
	};
};

&i2c_1 {
	stm401@39 {
		compatible = "stm,stm401";
		gpios = <&msmgpio 102 0>;       /* IRQ */
	};
};

&i2c_3 {
	synaptics_dsx_i2c@20 {
		compatible = "synaptics,synaptics_dsx_i2c";
		interrupts = <81 0>;
		gpios = <&msmgpio 81 0>,        /* IRQ */
			<&msmgpio 60 0>;        /* RESET */
	};
};

&pm8941_l18 {
	regulator-always-on;
};

