/* Copyright (c) 2013, The Linux Foundation. All rights reserved.
 * Copyright (c) 2013 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "msm8226-camera-sensor-falcon.dtsi"

&soc {
	factory_support {
		compatible = "mmi,factory-support-msm8960";

		gpios = <&msmgpio 5 0x2>; /* GPIOF_DIR_OUT | GPIOF_INIT_HIGH */
		gpio-names = "factory_kill_disable";
	};

	serial@f991f000 {
		status = "ok";
	};

	ram_console {
		compatible = "android,ram-console";
		status = "ok";

		android,ram-buffer-start = <0x3eae0000>;
		android,ram-buffer-size = <0x20000>;
	};

	bootinfo {
		compatible = "android,bootinfo";

		android,bootinfo-buffer-start = <0x3eb00000>;
		android,bootinfo-buffer-size = <0x800>;
	};

	i2c_5: i2c@f9927000 {
		synaptics_dsx_i2c@20 {
			compatible = "synaptics,synaptics_dsx_i2c";
			reg = <0x20>;
			interrupt-parent = <&msmgpio>;
			interrupts = <17 0>;
			gpios = <&msmgpio 17 0>, /* IRQ */
				<&msmgpio 16 0>; /* RESET */
			touch_vdd-supply = <&pm8226_l28>;
			synaptics,normal-mode = <1>;
			synaptics,gpio-config;
		};

		cyttsp3_i2c@3b {
			compatible = "cyttsp3,i2c";
			reg = <0x3b>;
			interrupt-parent = <&msmgpio>;
			interrupts = <17 0x0>;
			vdd-supply = <&pm8226_l19>;
			vcc_i2c-supply = <&pm8226_lvs1>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		input-name = "gpio-keys";

		camera_focus {
			label = "camera_focus";
			gpios = <&msmgpio 108 0x1>;
			linux,input-type = <1>;
			linux,code = <0x210>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};

		camera_snapshot {
			label = "camera_snapshot";
			gpios = <&msmgpio 107 0x1>;
			linux,input-type = <1>;
			linux,code = <0x2fe>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};

		vol_up {
			label = "volume_up";
			gpios = <&msmgpio 106 0x1>;
			linux,input-type = <1>;
			linux,code = <115>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};
	};

	spi@f9923000 {
		ethernet-switch@3 {
			compatible = "micrel,ks8851";
			reg = <3>;
			interrupt-parent = <&msmgpio>;
			interrupts = <0 115 0>;
			spi-max-frequency = <4800000>;
			rst-gpio = <&msmgpio 114 0>;
			vdd-io-supply = <&pm8226_lvs1>;
			vdd-phy-supply = <&pm8226_lvs1>;
		};
	};

	sound {
		qcom,audio-routing =
			"RX_BIAS", "MCLK",
			"LDO_H", "MCLK",
			"SPK_OUT", "MCLK",
			"SPK_OUT", "EXT_VDD_SPKR",
			"AMIC1", "MIC BIAS1 External",
			"MIC BIAS1 External", "Handset Mic",
			"AMIC2", "MIC BIAS2 External",
			"MIC BIAS2 External", "Headset Mic",
			"AMIC3", "MIC BIAS1 External",
			"MIC BIAS1 External", "ANCRight Headset Mic",
			"AMIC4", "MIC BIAS2 External",
			"MIC BIAS2 External", "ANCLeft Headset Mic";

		qcom,cdc-mclk-gpios = <&pm8226_gpios 1 0>;
		qcom,cdc-vdd-spkr-gpios = <&pm8226_gpios 2 0>;
	};

	sound-9302 {
		qcom,audio-routing =
			"RX_BIAS", "MCLK",
			"LDO_H", "MCLK",
			"SPK_OUT", "MCLK",
			"SPK_OUT", "EXT_VDD_SPKR",
			"AMIC1", "MIC BIAS1 External",
			"MIC BIAS1 External", "Handset Mic",
			"AMIC2", "MIC BIAS2 External",
			"MIC BIAS2 External", "Headset Mic",
			"AMIC3", "MIC BIAS1 External",
			"MIC BIAS1 External", "ANCRight Headset Mic",
			"AMIC4", "MIC BIAS2 External",
			"MIC BIAS2 External", "ANCLeft Headset Mic";

		qcom,cdc-mclk-gpios = <&pm8226_gpios 1 0>;
		qcom,cdc-vdd-spkr-gpios = <&pm8226_gpios 2 0>;
	};

	usb@f9a55000 {
		qcom,hsusb-otg-phy-init-seq = <0x34 0x82 0x2f 0x81 0xffffffff>;
		qcom,hsusb-otg-mode = <3>;
		vbus_otg-supply = <&pm8226_chg_otg>;
		otg,id_flt_gpio = <&msmgpio 111 0x0>;
		otg,id_gnd_gpio = <&msmgpio 112 0x0>;
		id_flt_active_high = <1>;
		id_gnd_active_high = <1>;
	};

	alsa_to_h2w {
		compatible = "mmi,alsa-to-h2w";
	};

	qcom,mdss_wb_panel {
		status = "disabled";
	};

	vddio_disp_vreg: vddio_disp_vreg {
		compatible = "regulator-fixed";
		regulator-name = "vddio_disp";
		gpio = <&msmgpio 34 0x0>;
		parent-supply = <&pm8226_l8>;
		startup-delay-us = <300>;
		enable-active-high;
	};

	hob_ram@8300000 {
		compatible = "mmi,hob_ram";
		reg = <0x8300000 0x40000>,
		      <0x8340000 0x2000>;
	};
	usr_reset_warning {
		compatible = "mmi,usr-reset-warning";
		gpios = <&msmgpio 69 0x0>;
	};

	qcom,ion {
		qcom,ion-heap@23 { /* OTHER PIL HEAP */
			qcom,memory-fixed = <0x06400000 0x1F00000>;
		};
	};

	bms_tbls: qcom,batt-tbls {
		compatible = "qcom,batt-tbls";

		mmi,batt-tbl-one {
			qcom,batt-tbl-name = "mmi,batt-tbl-ed30-temp";
			qcom,batt-tbl-id = <4005 4389>;

			qcom,batt-tbl-fcc = <1950>;
			qcom,batt-tbl-default-rbatt-mohm = <193>;
			qcom,batt-tbl-rbatt-capacitive-mohm = <50>;
			qcom,batt-tbl-flat-ocv-threshold-uv = <3800000>;

			qcom,fcc-temp-lut-cols = <4>;
			qcom,fcc-temp-lut-x = <0xFFFFFFF6 0 23 60>;
			qcom,fcc-temp-lut-y = <1950 1950 1950 1950>;

			qcom,fcc-sf-lut-cols = <6>;
			qcom,fcc-sf-lut-x = <1 100 200 300 400 500>;
			qcom,fcc-sf-lut-y = <100 97 95 94 93 91>;

			qcom,pc-sf-lut-rows = <10>;
			qcom,pc-sf-lut-cols = <5>;
			qcom,pc-sf-lut-row-entries = <100 200 300 400 500>;
			qcom,pc-sf-lut-percent =
					<100 90 80 70 60 50 40 30 20 10>;
			qcom,pc-sf-lut-sf = <100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>,
					<100 100 100 100 100>;

			qcom,pc-temp-ocv-lut-rows = <29>;
			qcom,pc-temp-ocv-lut-cols = <3>;
			qcom,pc-temp-ocv-lut-temp = <0xFFFFFFF6 23 60>;
			qcom,pc-temp-ocv-lut-percent = <100 95 90 85 80 75 70
							65 60 55 50 45 40 35
							30 25 20 15 10 9 8 7
							6 5 4 3 2 1 0>;
			qcom,pc-temp-ocv-lut-ocv = <4197 4190 4177>,
						<4141 4134 4127>,
						<4097 4088 4081>,
						<4052 4046 4039>,
						<4000 4000 4000>,
						<3963 3966 3965>,
						<3932 3937 3933>,
						<3900 3909 3904>,
						<3868 3884 3879>,
						<3841 3845 3839>,
						<3819 3815 3814>,
						<3802 3798 3797>,
						<3792 3787 3783>,
						<3786 3779 3774>,
						<3779 3775 3756>,
						<3768 3768 3738>,
						<3747 3742 3716>,
						<3719 3698 3680>,
						<3700 3686 3667>,
						<3698 3684 3666>,
						<3695 3682 3663>,
						<3691 3679 3657>,
						<3682 3669 3644>,
						<3659 3644 3618>,
						<3617 3604 3576>,
						<3564 3552 3522>,
						<3492 3478 3451>,
						<3389 3373 3348>,
						<3200 3200 3200>;
		};
	};
};

&sdcc1 {
	vdd-supply = <&pm8226_l17>;
	qcom,vdd-always-on;
	qcom,vdd-lpm-sup;
	qcom,vdd-voltage-level = <2950000 2950000>;
	qcom,vdd-current-level = <800 500000>;

	vdd-io-supply = <&pm8226_l6>;
	qcom,vdd-io-always-on;
	qcom,vdd-io-voltage-level = <1800000 1800000>;
	qcom,vdd-io-current-level = <250 154000>;

	qcom,pad-pull-on = <0x0 0x3 0x3>; /* no-pull, pull-up, pull-up */
	qcom,pad-pull-off = <0x0 0x3 0x3>; /* no-pull, pull-up, pull-up */
	qcom,pad-drv-on = <0x4 0x4 0x4>; /* 16mA, 10mA, 10mA */
	qcom,pad-drv-off = <0x0 0x0 0x0>; /* 2mA, 2mA, 2mA */

	qcom,clk-rates = <400000 25000000 50000000 100000000 200000000>;
	qcom,sup-voltages = <2950 2950>;

	qcom,bus-speed-mode = "HS200_1p8v", "DDR_1p8v";
	qcom,nonremovable;

	status = "ok";
};

&pm8226_l28 {
	regulator-max-microvolt = <3100000>;
	qcom,init-voltage = <3100000>;
};

&pm8226_chg {
	qcom,vddmax-mv = <4200>;
	qcom,vddsafe-mv = <4400>;
	qcom,vinmin-mv = <4400>;
	qcom,vbatdet-delta-mv = <150>;
	qcom,ibatmax-ma = <2000>;
	qcom,ibatterm-ma = <100>;
	qcom,ibatsafe-ma = <3250>;
	qcom,thermal-mitigation = <1500 700 600 325>;
	qcom,tchg-mins = <512>;
	qcom,warm_bat_decidegc = <450>;
	qcom,cool_bat_decidegc = <0>;
	qcom,warm_bat_mv = <4000>;
	qcom,cool_bat_mv = <4000>;
	qcom,warm_bat_chg_ma = <3250>;
	qcom,cool_bat_chg_ma = <3250>;
};

&pm8226_bms {
	qcom,r-sense-uohm = <10000>;
	qcom,v-cutoff-uv = <3200000>;
	qcom,max-voltage-uv = <4200000>;
	qcom,r-conn-mohm = <0>;
	qcom,shutdown-soc-valid-limit = <100>;
	qcom,adjust-soc-low-threshold = <15>;
	qcom,use-ocv-thresholds = <0>;
	qcom,low-soc-calculate-soc-threshold = <15>;
	qcom,low-soc-calculate-soc-ms = <5000>;
	qcom,calculate-soc-ms = <20000>;
	qcom,chg-term-ua = <100000>;
	qcom,batt-type = <0>;
	qcom,tm-temp-margin = <5000>;
	qcom,low-ocv-correction-limit-uv = <100>;
	qcom,high-ocv-correction-limit-uv = <50>;
	qcom,hold-soc-est = <3>;
	qcom,low-voltage-threshold = <3220000>;
	qcom,enable-fcc-learning = <1>;
	qcom,min-fcc-learning-soc = <20>;
	qcom,min-fcc-ocv-pc = <20>;
	qcom,min-fcc-learning-samples = <4>;
};

&spmi_bus {
	qcom,pm8226@1 {
		qcom,vibrator@c000 {
			status = "okay";
			compatible = "qcom,qpnp-vibrator";
			reg = <0xc000 0x100>;
			label = "vibrator";
			qcom,vib-timeout-ms = <30000>;
			qcom,vib-vtg-level-mV = <2800>;
		};

		qcom,leds@d300 {
			status = "okay";
			pm8226_flash0: qcom,flash_0 {
				qcom,current = <1000>;
				qcom,clamp-curr = <1000>;
			};
		};

		qcom,leds@d800 {
			status = "okay";
			qcom,wled_0 {
				label = "wled";
				linux,name = "wled:backlight";
				linux,default-trigger = "bkl-trigger";
				qcom,cs-out-en;
				qcom,op-fdbck = <1>;
				qcom,default-state = "on";
				qcom,max-current = <21>;
				qcom,ctrl-delay-us = <0>;
				qcom,boost-curr-lim = <0x03>;
				qcom,max-boost-duty = <0x02>;
				qcom,mod-scheme = <0x00>;
				qcom,cp-sel = <0>;
				qcom,switch-freq = <0x0b>;
				qcom,ovp-val = <2>;
				qcom,num-strings = <1>;
				qcom,id = <0>;
			};
		};
	};

	qcom,pm8226@0 {

		qcom,power-on@800 {
			qcom,s3-debounce = <16>;
		};

		pm8226_chg_fac: qcom,chargerfac {
			spmi-dev-container;
			compatible = "qcom,qpnp-charger-factory";
			#address-cells = <1>;
			#size-cells = <1>;
			status = "ok";

			qcom,chg-vddmax-mv = <4200>;
			qcom,chg-vddsafe-mv = <4200>;
			qcom,chg-vinmin-mv = <4200>;
			qcom,chg-vbatdet-mv = <4100>;
			qcom,chg-ibatmax-ma = <1500>;
			qcom,chg-ibatterm-ma = <200>;
			qcom,chg-ibatsafe-ma = <1500>;
			qcom,chg-thermal-mitigation = <1500 700 600 325>;

			qcom,chg-chgr@1000 {
				status = "ok";
				reg = <0x1000 0x100>;
				interrupts =	<0x0 0x10 0x0>,
						<0x0 0x10 0x1>,
						<0x0 0x10 0x2>,
						<0x0 0x10 0x3>,
						<0x0 0x10 0x4>,
						<0x0 0x10 0x5>,
						<0x0 0x10 0x6>,
						<0x0 0x10 0x7>;

				interrupt-names =	"vbat-det-lo",
							"vbat-det-hi",
							"chgwdog",
							"state-change",
							"trkl-chg-on",
							"fast-chg-on",
							"chg-failed",
							"chg-done";
			};

			qcom,chg-buck@1100 {
				status = "ok";
				reg = <0x1100 0x100>;
				interrupts =	<0x0 0x11 0x0>,
						<0x0 0x11 0x1>,
						<0x0 0x11 0x2>,
						<0x0 0x11 0x3>,
						<0x0 0x11 0x4>,
						<0x0 0x11 0x5>,
						<0x0 0x11 0x6>;

				interrupt-names =	"vbat-ov",
							"vreg-ov",
							"overtemp",
							"vchg-loop",
							"ichg-loop",
							"ibat-loop",
							"vdd-loop";
			};

			qcom,chg-bat-if@1200 {
				status = "ok";
				reg = <0x1200 0x100>;
				interrupts =	<0x0 0x12 0x0>,
						<0x0 0x12 0x1>,
						<0x0 0x12 0x2>,
						<0x0 0x12 0x3>,
						<0x0 0x12 0x4>;

				interrupt-names =	"batt-pres",
							"bat-temp-ok",
							"bat-fet-on",
							"vcp-on",
							"psi";

			};

			qcom,chg-usb-chgpth@1300 {
				status = "ok";
				reg = <0x1300 0x100>;
				interrupts =	<0 0x13 0x0>,
						<0 0x13 0x1>,
						<0x0 0x13 0x2>;

				interrupt-names =	"coarse-det-usb",
							"usbin-valid",
							"chg-gone";
			};

			qcom,chg-boost@1500 {
				status = "ok";
				reg = <0x1500 0x100>;
				interrupts =	<0x0 0x15 0x0>,
						<0x0 0x15 0x1>;

				interrupt-names =	"boost-pwr-ok",
							"limit-error";
			};

			qcom,chg-misc@1600 {
				status = "ok";
				reg = <0x1600 0x100>;
			};
		};

		qcom,leds@a100 {
			compatible = "qcom,leds-qpnp-rgb";
			reg = <0xa100 0x100>;
			status = "okay";
			qcom,led_mpp_2 {
				label = "mpp";
				linux,name = "blue";
				linux,default-trigger = "none";
				qcom,default-state = "off";
				qcom,max-current = <40>;
				qcom,current-setting = <5>;
				qcom,id = <6>;
				qcom,mode = "pwm";
				qcom,source-sel = <14>;
				qcom,mode-ctrl = <0x60>;
				qcom,pwm-channel = <3>;
				qcom,pwm-us = <1000>;
			};
		};

		qcom,leds@a300 {
			compatible = "qcom,leds-qpnp-rgb";
			status = "okay";
			qcom,led_mpp_4 {
				label = "mpp";
				linux,name = "green";
				linux,default-trigger = "none";
				qcom,default-state = "off";
				qcom,max-current = <40>;
				qcom,current-setting = <5>;
				qcom,id = <6>;
				qcom,mode = "pwm";
				qcom,source-sel = <8>;
				qcom,mode-ctrl = <0x60>;
				qcom,pwm-channel = <0>;
				qcom,pwm-us = <1000>;
			};
		};

		qcom,leds@a500 {
			compatible = "qcom,leds-qpnp-rgb";
			status = "okay";
			qcom,led_mpp_6 {
				label = "mpp";
				linux,name = "red";
				linux,default-trigger = "none";
				qcom,default-state = "off";
				qcom,max-current = <40>;
				qcom,current-setting = <5>;
				qcom,id = <6>;
				qcom,mode = "pwm";
				qcom,source-sel = <10>;
				qcom,mode-ctrl = <0x60>;
				qcom,pwm-channel = <5>;
				qcom,pwm-us = <1000>;
				qcom,blink-en = <1>;
			};
		};

		qcom,leds@1000 {
			status = "ok";
			reg = <0x1000 0x100>;
			compatible = "qcom,leds-qpnp";
			qcom,led_atc {
				label = "atc";
				linux,name = "charging";
				qcom,max-current = <40>;
				qcom,id = <8>;
				qcom,mode = <2>;
			};
		};
	};
};

&pm8226_gpios {
	gpio@c000 { /* GPIO 1 */
		/* XO_PMIC_CDC_MCLK enable for tapan codec */
		qcom,mode = <1>;		/* Digital output */
		qcom,output-type = <0>;	/* CMOS logic */
		qcom,pull = <5>;		/* QPNP_PIN_PULL_NO*/
		qcom,vin-sel = <2>;		/* QPNP_PIN_VIN2 */
		qcom,out-strength = <3>;/* QPNP_PIN_OUT_STRENGTH_HIGH */
		qcom,src-sel = <2>;		/* QPNP_PIN_SEL_FUNC_1 */
		qcom,master-en = <1>;	/* Enable GPIO */
	};

	gpio@c100 { /* GPIO 2 */
		qcom,mode = <1>;
		qcom,output-type = <0>;
		qcom,pull = <5>;
		qcom,vin-sel = <2>;
		qcom,out-strength = <3>;
		qcom,src-sel = <2>;
		qcom,master-en = <1>;
	};

	gpio@c200 { /* GPIO 3 */
	};

	gpio@c300 { /* GPIO 4 */
	};

	gpio@c400 { /* GPIO 5 */
	};

	gpio@c500 { /* GPIO 6 */
	};

	gpio@c600 { /* GPIO 7 */
		/* TX_GTR_THRESH FUNC for PA_ON_NOFLASH */
		qcom,mode = <0>;		/* Digital input */
		qcom,pull = <5>;		/* QPNP_PIN_PULL_NO*/
		qcom,vin-sel = <3>;		/* QPNP_PIN_VIN3 L6 1.8V */
		qcom,src-sel = <2>;		/* QPNP_PIN_SEL_FUNC_1 */
		qcom,master-en = <1>;	/* Enable GPIO */
	};

	gpio@c700 { /* GPIO 8 */
	};
};

&pm8226_mpps {
	mpp@a000 { /* MPP 1 */
	};

	mpp@a100 { /* MPP 2 */
	};

	mpp@a200 { /* MPP 3 */
	};

	mpp@a300 { /* MPP 4 */
	};

	mpp@a400 { /* MPP 5 */
		/* PA_THERM0 config */
		qcom,mode = <4>; /* AIN input */
		qcom,invert = <1>; /* Enable MPP */
		qcom,ain-route = <0>; /* AMUX 5 */
		qcom,master-en = <1>;
		qcom,src-sel = <0>; /* Function constant */
	};

	mpp@a500 { /* MPP 6 */
	};

	mpp@a600 { /* MPP 7 */
	};

	mpp@a700 { /* MPP 8 */
		/* PA_THERM1 config */
		qcom,mode = <4>; /* AIN input */
		qcom,invert = <1>; /* Enable MPP */
		qcom,ain-route = <3>; /* AMUX 8 */
		qcom,master-en = <1>;
		qcom,src-sel = <0>; /* Function constant */
	};
};

&pm8226_vadc {
	chan@14 {
		label = "pa_therm0";
		reg = <0x14>;
		qcom,decimation = <0>;
		qcom,pre-div-channel-scaling = <0>;
		qcom,calibration-type = "ratiometric";
		qcom,scale-function = <2>;
		qcom,hw-settle-time = <2>;
		qcom,fast-avg-setup = <0>;
	};

	chan@17 {
		label = "pa_therm1";
		reg = <0x17>;
		qcom,decimation = <0>;
		qcom,pre-div-channel-scaling = <0>;
		qcom,calibration-type = "ratiometric";
		qcom,scale-function = <2>;
		qcom,hw-settle-time = <2>;
		qcom,fast-avg-setup = <0>;
	};
};

&pm8226_lvs1 {
	regulator-always-on;
};

&i2c_2 {
	status = "ok";

	ct406@39 {
		compatible = "ams,ct406";
		reg = <0x39>;
		interrupt-parent = <&msmgpio>;
		interrupts = <65 0x2>;
		gpios = <&msmgpio 65 0>; /* IRQ */
		vdd-supply = <&pm8226_l19>;
		ams,prox-samples-for-noise-floor = <0x05>;
		ams,prox-covered-offset = <0x0096>;
		ams,prox-uncovered-offset = <0x006e>;
		ams,prox-recalibrate-offset = <0x0046>;
		ams,prox-offset = <0x00>;
		ams,prox-pulse-count = <0x04>;
		ams,ink_type = <0x01>;
	};

	ak8963@0c {
		compatible = "akm,akm8963";
		reg = <0x0c>;
		vdd-supply = <&pm8226_l19>;
		interrupt-parent = <&msmgpio>;
		interrupts = <66 0x2>;
		akm,gpio-irq = <&msmgpio 66 0>;
		akm,gpio-rst = <&msmgpio 62 0>;
		akm,outbit = <1>;
		akm,layout = <6>;
	};
};

&i2c_3 {
	status = "ok";

	tmp108: tmp108@48 {
		compatible = "ti,tmp108";
		reg = <0x48>;
		gpios = <&msmgpio 13 0>;
	};


	tpa6165xx@40 {
		compatible = "ti,tpa6165";
		reg = <0x40>;
		interrupt-parent = <&msmgpio>;
		interrupts = <4 0x2>;
		gpios = <&msmgpio 4 0x0>;
		hs_det_vdd-supply = <&pm8226_l6>;
		hs_det_micvdd-supply = <&pm8226_l21>;
	};

	tps65132@3e {
		compatible = "ti,tps65132";
		reg = <0x3e>;
		gpios = <&msmgpio 31 0x0>, <&msmgpio 33 0x0>;
		active-dis;
		bias-delay-us = <2000>;
		tps65132: regulator {
			regulator-name = "tps65132";
			regulator-min-microvolt = <4000000>;
			regulator-max-microvolt = <6000000>;
			startup-delay-us = <10000>;
		};
	};
};

&slim_msm {
	tapan_codec {
		qcom,cdc-micbias1-ext-cap;
	};
};

&mdss_dsi0 {
	qcom,supply-names = "vddio", "vdda";
	qcom,supply-min-voltage-level = <1800000 1200000>;
	qcom,supply-max-voltage-level = <1800000 1200000>;
	qcom,supply-peak-current = <100000 100000>;
};

&cci {
	qcom,hw-thigh = <20>;
	qcom,hw-tlow = <28>;
	qcom,hw-tsu-sto = <6>;
	qcom,hw-tsu-sta = <7>;
	qcom,hw-thd-dat = <13>;
	qcom,hw-thd-sta = <11>;
	qcom,hw-tbuf = <25>;
	qcom,hw-scl-stretch-en = <0>;
	qcom,hw-trdhld = <6>;
	qcom,hw-tsp = <3>;
};
