/* Copyright (c) 2013 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/* Reserve for persistent memory - ram console */
/memreserve/ 0x3eae0000 0x20000;

/* Reserve for persistent memory - bootinfo backup for last_kmsg */
/memreserve/ 0x3eb00000 0x800;

/* Reserve the 1st 1MB  memory - WA for 1st page memory corruption issue */
/memreserve/ 0x0 0x100000;
