/* Copyright (c) 2012-2013, Motorola Mobility LLC. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "msm8960ab-motref.dtsi"

/ {
	model = "Motorola MSM8960 Pro Ultra M";
	compatible = "mmi,msm8960";

	mmi,product = "mmi,msm8960ab-ultram";

	/* GSBI3 - I2C Touch Bus */
	i2c@16200000 {
		status = "okay";

		qcom,i2c-bus-freq = <400000>;
		qcom,i2c-src-freq = <24000000>;

		sy3200@20 {
			compatible = "synaptics,sy3200";
			reg = <0x20>;
			interrupt-parent = <&msmgpio>;
			interrupts = <46 0>;
			gpios = <&msmgpio 46 0>, /* IRQ */
			        <&msmgpio 63 0>; /* RESET */

			synaptics,sy3200-tdat-filename = "sy3200-r0.tdat";
		};
	};
};

&i2c10 {
	tps65132@3e {
		compatible = "ti,tps65132";
		reg = <0x3e>;
	};

	lp8556@2c {
		compatible = "ti,lp8556";
		reg = <0x2c>;
		gpios = <&msmgpio 52 0>;  /* enable GPIO */

		ti,lp8556-initial-brightness = <0x3a>;
		ti,lp8556-dev-ctrl-config = <0x84>;
		ti,lp8556-eeprom-settings = <0x9e 0x02
					     0xa5 0x3c
					     0xa6 0x40
					     0xa7 0xfc>;
	};
};
