/* Copyright (c) 2012-2013, Motorola Mobility LLC. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "msm8960ab-motref.dtsi"

/ {
	model = "Motorola MSM8960 Pro Ultra M";
	compatible = "mmi,msm8960";

	mmi,product = "mmi,msm8960ab-ultram";

	/* GSBI3 - I2C Touch Bus */
	i2c@16200000 {
		status = "okay";

		qcom,i2c-bus-freq = <400000>;
		qcom,i2c-src-freq = <24000000>;

		sy3200@20 {
			compatible = "synaptics,sy3200";
			reg = <0x20>;
			interrupt-parent = <&msmgpio>;
			interrupts = <46 0>;
			gpios = <&msmgpio 46 0>, /* IRQ */
			        <&msmgpio 63 0>; /* RESET */

			synaptics,sy3200-tdat-filename = "sy3200-r0.tdat";
		};
	};
};
