config PMIC_CCSM
	tristate "PMIC CCSM driver"
	select POWER_SUPPLY_BATTID
	depends on INTEL_SCU_IPC && IIO
	help
	  Say Y to include support for PMIC Charger Control State Machine driver
	  Driver for initializing and monitoring the CCSM in PMIC
	  This driver sets the CCSM registers and handles the PMIC
	  charger interrupts.

config BQ24261_CHARGER
	tristate "BQ24261 charger driver"
	select POWER_SUPPLY_CHARGER
	depends on I2C
	help
	  Say Y to include support for BQ24261 Charger driver. This driver
	  makes use of power supply charging framework. So the driver gives
	  the charger hardware abstraction only. Charging logic is abstracted
	  in the charging framework.
